# Cleaning Data with Pandas
## Reading the data

In [41]:
import numpy as np
import pandas as pd

from pymongo import MongoClient

def get_mongo_database(db_name, host='localhost', port=27017, username=None, password=None):
    '''Get (or create) named database from MongoDB with/out authentication'''
    if username and password:
        mongo_uri = 'mongodb://{}:{}@{}/{}'.format(username, password, host, db_name)
        conn = MongoClient(mongo_uri)
    else:
        conn = MongoClient(host, port)
    return conn[db_name]

def mongo_to_dataframe(db_name, collection_name, query={}, host='localhost',
                       port=27017, username=None, password=None, no_id=True):
    '''Create a Pandas DataFrame from MongoDB collection'''
    db = get_mongo_database(db_name, host, port, username, password)
    cursor = db[collection_name].find(query)
    df = pd.DataFrame(list(cursor))
    if no_id:
        del df['_id']
    return df

def dataframe_to_mongo(dframe, db_name, collection_name, host='localhost',
                 port=27017, username=None, password=None):
    '''save a dataframe to mongodb collection'''
    db = get_mongo_database(db_name, host, port, username, password)
    records = df.to_dict('records')  # 'records' puts it into our list-of-dicts format
    db[collection_name].insert_many(records)


DB_NOBEL_PRIZE = 'nobel_prize' # use string constants or a spell error in retrieval will create new table.
COLL_WINNERS = 'winners' # winners collection

#----------------------------
# From json file.
#----------------------------

with open('data/nwinners.json') as f:
    df = pd.read_json(f)

# Make sure mongodb is clear (so we don't duplicate data), then
# save to Mongo for next section
db = get_mongo_database(DB_NOBEL_PRIZE)
db[COLL_WINNERS].delete_many({})  # deletes everything (no filter)
dataframe_to_mongo(df, DB_NOBEL_PRIZE, COLL_WINNERS) # save to Mongo for next section

#----------------------------
# From mongodb collection
#----------------------------

df = mongo_to_dataframe(DB_NOBEL_PRIZE, COLL_WINNERS)

## Inspecting the data

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1069 entries, 0 to 1068
Data columns (total 12 columns):
born_in           1069 non-null object
category          1069 non-null object
country           1069 non-null object
date_of_birth     1060 non-null object
date_of_death     712 non-null object
gender            1060 non-null object
link              1069 non-null object
name              1069 non-null object
place_of_birth    1060 non-null object
place_of_death    712 non-null object
text              1069 non-null object
year              1069 non-null int64
dtypes: int64(1), object(11)
memory usage: 100.3+ KB

In [3]:
df.describe() # only acts on numeric columns
df.describe(include=['object']) # include specifies other types to include (besides numeric)

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text
count,1069,1069,1069,1060,712,1060,1069,1069,1060,712,1069
unique,33,7,59,868,589,2,912,1002,607,316,1057
top,,Physiology or Medicine,United States,7 November 1867,4 July 1934,male,https://en.wikipedia.org/wiki/Marie_Curie,César Milstein,New York City,Cambridge,"Adolfo Pérez Esquivel , Peace, 1980"
freq,938,256,352,4,4,1003,4,3,44,37,2

In [4]:
df.tail()
df.head(3)

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
0,,Chemistry,Hungary,1 August 1885,5 July 1966,male,https://en.wikipedia.org/wiki/George_de_Hevesy,George de Hevesy,Budapest,Freiburg im Breisgau,"George de Hevesy , Chemistry, 1943",1943
1,,Physiology or Medicine,Hungary,16 September 1893,22 October 1986,male,https://en.wikipedia.org/wiki/Albert_Szent-Gy%...,Albert Szent-Györgyi,Budapest,Woods Hole,"Albert Szent-Györgyi , Physiology or Medicine,...",1937
2,,Peace,Ghana,8 April 1938,NaN,male,https://en.wikipedia.org/wiki/Kofi_Annan,Kofi Annan,Kumasi,NaN,"Kofi Annan , Peace, 2001",2001

## Set indices (optional, but useful)

In [5]:
print(df.columns) # the column index
df = df.set_index('name') # row index (note we need to assign to df)
df.loc['Albert Einstein'] # loc accesses by label index

Index([u'born_in', u'category', u'country', u'date_of_birth', u'date_of_death',
       u'gender', u'link', u'name', u'place_of_birth', u'place_of_death',
       u'text', u'year'],
      dtype='object')

,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
name,,,,,,,,,,,
Albert Einstein,,Physics,Switzerland,14 March 1879,18 April 1955,male,https://en.wikipedia.org/wiki/Albert_Einstein,Ulm,Princeton,"Albert Einstein , born in Germany , Physics, ...",1921
Albert Einstein,,Physics,Germany,14 March 1879,18 April 1955,male,https://en.wikipedia.org/wiki/Albert_Einstein,Ulm,Princeton,"Albert Einstein , Physics, 1921",1921

In [6]:
df.reset_index(inplace=True) # go back to default int index.  Note the 'inplace'
df.iloc[2] # iloc accesses by integer index
df.head(2)

,name,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
0,George de Hevesy,,Chemistry,Hungary,1 August 1885,5 July 1966,male,https://en.wikipedia.org/wiki/George_de_Hevesy,Budapest,Freiburg im Breisgau,"George de Hevesy , Chemistry, 1943",1943
1,Albert Szent-Györgyi,,Physiology or Medicine,Hungary,16 September 1893,22 October 1986,male,https://en.wikipedia.org/wiki/Albert_Szent-Gy%...,Budapest,Woods Hole,"Albert Szent-Györgyi , Physiology or Medicine,...",1937

In [7]:
df[0:10] #first 10 rows
df[-4:]  #last 4 rows

# masks
mask = df.year > 2000
df[mask]
df[df.year>2000] # more direct

,name,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
2,Kofi Annan,,Peace,Ghana,8 April 1938,NaN,male,https://en.wikipedia.org/wiki/Kofi_Annan,Kumasi,NaN,"Kofi Annan , Peace, 2001",2001
46,J. Robin Warren,,Physiology or Medicine,Australia,11 June 1937,NaN,male,https://en.wikipedia.org/wiki/Robin_Warren,Adelaide,NaN,"J. Robin Warren , Physiology or Medicine, 2005",2005
102,Martin Karplus *,Austria,Chemistry,,15 March 1930,NaN,male,https://en.wikipedia.org/wiki/Martin_Karplus,Vienna,NaN,"Martin Karplus *, Chemistry, 2013",2013
103,International Atomic Energy Agency,,Peace,Austria,NaN,NaN,NaN,https://en.wikipedia.org/wiki/International_At...,NaN,NaN,"International Atomic Energy Agency , Peace, 2005",2005
116,Stefan Hell,,Chemistry,Germany,23 December 1962,NaN,male,https://en.wikipedia.org/wiki/Stefan_Hell,Arad,NaN,"Stefan Hell , born in Romania , Chemistry, 2014",2014
117,Thomas C. Südhof,,Physiology or Medicine,Germany,22 December 1955,NaN,male,https://en.wikipedia.org/wiki/Thomas_C._S%C3%B...,Göttingen,NaN,"Thomas C. Südhof , Physiology or Medicine, 2013",2013
126,Herta Müller,,Literature,Germany,17 August 1953,NaN,female,https://en.wikipedia.org/wiki/Herta_M%C3%BCller,Nițchidorf,NaN,"Herta Müller , born in Romania , Literature, ...",2009
167,Patrick Modiano,,Literature,France,30 July 1945,NaN,male,https://en.wikipedia.org/wiki/Patrick_Modiano,Boulogne-Billancourt,NaN,"Patrick Modiano , Literature, 2014",2014
168,Serge Haroche,,Physics,France,11 September 1944,NaN,male,https://en.wikipedia.org/wiki/Serge_Haroche,Casablanca,NaN,"Serge Haroche , born in Morocco, then under F...",2012
169,Jules A. Hoffmann,,Physiology or Medicine,France,2 August 1941,NaN,male,https://en.wikipedia.org/wiki/Jules_A._Hoffmann,Echternach,NaN,"Jules A. Hoffmann , born in Luxembourg , Phys...",2011
170,J. M. G. Le Clézio,,Literature,France,13 April 1940,NaN,male,https://en.wikipedia.org/wiki/J._M._G._Le_Cl%C...,Nice,NaN,"J. M. G. Le Clézio , Literature, 2008",2008
171,Luc Montagnier,,Physiology or Medicine,France,18 August 1932,NaN,male,https://en.wikipedia.org/wiki/Luc_Montagnier,Chabris,NaN,"Luc Montagnier , Physiology or Medicine, 2008",2008
172,Françoise Barré-Sinoussi,,Physiology or Medicine,France,30 July 1947,NaN,female,https://en.wikipedia.org/wiki/Fran%C3%A7oise_B...,Paris,NaN,"Françoise Barré-Sinoussi , Physiology or Medic...",2008
173,Albert Fert,,Physics,France,7 March 1938,NaN,male,https://en.wikipedia.org/wiki/Albert_Fert,Carcassonne,NaN,"Albert Fert , Physics, 2007",2007
174,Yves Chauvin,,Chemistry,France,10 October 1930,28 January 2015,male,https://en.wikipedia.org/wiki/Yves_Chauvin,Menen,Tours,"Yves Chauvin , Chemistry, 2005",2005
186,Bengt R. Holmström,,Economics,Finland,18 April 1949,NaN,male,https://en.wikipedia.org/wiki/Bengt_R._Holmstr...,Helsinki,NaN,"Bengt R. Holmström , Economics, 2016",2016
187,Martti Ahtisaari,,Peace,Finland,23 June 1937,NaN,male,https://en.wikipedia.org/wiki/Martti_Ahtisaari,Vyborg,NaN,"Martti Ahtisaari , Peace, 2008",2008
191,Jean-Pierre Sauvage,,Chemistry,France,21 October 1944,NaN,male,https://en.wikipedia.org/wiki/Jean-Pierre_Sauvage,Paris,NaN,"Jean-Pierre Sauvage , Chemistry, 2016",2016
192,Jean Tirole,,Economics,France,9 August 1953,NaN,male,https://en.wikipedia.org/wiki/Jean_Tirole,Troyes,NaN,"Jean Tirole , Economics, 2014",2014
211,Mohamed ElBaradei,,Peace,Egypt,17 June 1942,NaN,male,https://en.wikipedia.org/wiki/Mohamed_ElBaradei,Cairo,NaN,"Mohamed ElBaradei , Peace, 2005",2005
215,Tu Youyou,,Physiology or Medicine,China,30 December 1930,NaN,female,https://en.wikipedia.org/wiki/Tu_Youyou,Ningbo,NaN,"Tu Youyou , Physiology or Medicine, 2015",2015
216,Mo Yan,,Literature,China,17 February 1955,NaN,male,https://en.wikipedia.org/wiki/Mo_Yan,Gaomi,NaN,"Mo Yan , Literature, 2012",2012
217,Liu Xiaobo,,Peace,China,28 December 1955,13 July 2017,male,https://en.wikipedia.org/wiki/Liu_Xiaobo,Changchun,Shenyang,"Liu Xiaobo , Peace, 2010",2010
221,Juan Manuel Santos,,Peace,Colombia,10 August 1951,NaN,male,https://en.wikipedia.org/wiki/Juan_Manuel_Santos,Bogota,NaN,"Juan Manuel Santos , Peace, 2016",2016
248,François Englert,,Physics,Belgium,6 November 1932,NaN,male,https://en.wikipedia.org/wiki/Fran%C3%A7ois_En...,Etterbeek,NaN,"François Englert , Physics, 2013",2013
266,Muhammad Yunus,,Peace,Bangladesh,28 June 1940,NaN,male,https://en.wikipedia.org/wiki/Muhammad_Yunus,Chittagong,NaN,"Muhammad Yunus , born in then British Raj, no...",2006
267,Svetlana Alexievich,,Literature,Belarus,31 May 1948,NaN,female,https://en.wikipedia.org/wiki/Svetlana_Alexievich,Ivano-Frankivsk,NaN,"Svetlana Alexievich , Literature, 2015",2015
271,Arthur B. McDonald,,Physics,Canada,29 August 1943,NaN,male,https://en.wikipedia.org/wiki/Arthur_B._McDonald,Sydney,NaN,"Arthur B. McDonald , Physics, 2015",2015
272,Alice Munro,,Literature,Canada,10 July 1931,NaN,female,https://en.wikipedia.org/wiki/Alice_Munro,Wingham,NaN,"Alice Munro , Literature, 2013",2013
273,Ralph M. Steinman,,Physiology or Medicine,Canada,14 January 1943,30 September 2011,male,https://en.wikipedia.org/wiki/Ralph_M._Steinman,Montreal,Manhattan,"Ralph M. Steinman , Physiology or Medicine, 2011",2011
...,...,...,...,...,...,...,...,...,...,...,...,...
991,Koichi Tanaka,,Chemistry,Japan,3 August 1959,NaN,male,https://en.wikipedia.org/wiki/Koichi_Tanaka,Toyama,NaN,"Koichi Tanaka , Chemistry, 2002",2002
992,Masatoshi Koshiba,,Physics,Japan,19 September 1926,NaN,male,https://en.wikipedia.org/wiki/Masatoshi_Koshiba,Toyohashi,NaN,"Masatoshi Koshiba , Physics, 2002",2002
993,Ryōji Noyori,,Chemistry,Japan,3 September 1938,NaN,male,https://en.wikipedia.org/wiki/Ry%C5%8Dji_Noyori,Kōbe,NaN,"Ryōji Noyori , Chemistry, 2001",2001
996,Ben Feringa,,Chemistry,Netherlands,18 May 1951,NaN,male,https://en.wikipedia.org/wiki/Ben_Feringa,Barger-Compascuum,NaN,"Ben Feringa , Chemistry, 2016",2016
997,Hiroshi Amano,,Physics,Japan,11 September 1960,NaN,male,https://en.wikipedia.org/wiki/Hiroshi_Amano,Hamamatsu,NaN,"Hiroshi Amano , Physics, 2014",2014
998,Isamu Akasaki,,Physics,Japan,30 January 1929,NaN,male,https://en.wikipedia.org/wiki/Isamu_Akasaki,Chiran,NaN,"Isamu Akasaki , Physics, 2014",2014
999,Shinya Yamanaka,,Physiology or Medicine,Japan,4 September 1962,NaN,male,https://en.wikipedia.org/wiki/Shinya_Yamanaka,Higashiōsaka,NaN,"Shinya Yamanaka , Physiology or Medicine, 2012",2012
1000,Akira Suzuki,,Chemistry,Japan,12 September 1930,NaN,male,https://en.wikipedia.org/wiki/Akira_Suzuki_(ch...,Hokkaidō,NaN,"Akira Suzuki , Chemistry, 2010",2010
1001,Andre Geim,,Physics,Netherlands,21 October 1958,NaN,male,https://en.wikipedia.org/wiki/Andre_Geim,Sochi,NaN,"Andre Geim , born in Soviet Union, now Russia...",2010
1008,Riccardo Giacconi *,Italy,Physics,,6 October 1931,NaN,male,https://en.wikipedia.org/wiki/Riccardo_Giacconi,Genoa,NaN,"Riccardo Giacconi *, Physics, 2002",2002
1009,Mario Capecchi *,Italy,Physiology or Medicine,,6 October 1937,NaN,male,https://en.wikipedia.org/wiki/Mario_Capecchi,Verona,NaN,"Mario Capecchi *, Physiology or Medicine, 2007",2007
1010,Yoshinori Ohsumi,,Physiology or Medicine,Japan,9 February 1945,NaN,male,https://en.wikipedia.org/wiki/Yoshinori_Ohsumi,Fukuoka,NaN,"Yoshinori Ohsumi , Physiology or Medicine, 2016",2016
1011,Takaaki Kajita,,Physics,Japan,9 March 1959,NaN,male,https://en.wikipedia.org/wiki/Takaaki_Kajita,Higashimatsuyama,NaN,"Takaaki Kajita , Physics, 2015",2015
1012,Satoshi Ōmura,,Physiology or Medicine,Japan,12 July 1935,NaN,male,https://en.wikipedia.org/wiki/Satoshi_%C5%8Cmura,Nirasaki,NaN,"Satoshi Ōmura , Physiology or Medicine, 2015",2015
1013,Shuji Nakamura *,Japan,Physics,,22 May 1954,NaN,male,https://en.wikipedia.org/wiki/Shuji_Nakamura,Ikata,NaN,"Shuji Nakamura *, Physics, 2014",2014
1042,Shirin Ebadi,,Peace,Iran,21 June 1947,NaN,female,https://en.wikipedia.org/wiki/Shirin_Ebadi,Hamadan,NaN,"Shirin Ebadi , Peace, 2003",2003
1043,William C. Campbell,,Physiology or Medicine,Ireland,28 June 1930,NaN,male,https://en.wikipedia.org/wiki/William_C._Campb...,Ramelton,NaN,"William C. Campbell , Physiology or Medicine, ...",2015
1045,Ada Yonath,,Chemistry,Israel,22 June 1939,NaN,female,https://en.wikipedia.org/wiki/Ada_Yonath,Jerusalem,NaN,"Ada Yonath , Chemistry, 2009",2009
1046,Robert Aumann,,Economics,Israel,8 June 1930,NaN,male,https://en.wikipedia.org/wiki/Robert_Aumann,Frankfurt,NaN,"Robert Aumann , born in Germany , Economics, ...",2005
1047,Aaron Ciechanover,,Chemistry,Israel,1 October 1947,NaN,male,https://en.wikipedia.org/wiki/Aaron_Ciechanover,Haifa,NaN,"Aaron Ciechanover , Chemistry, 2004",2004
1048,Avram Hershko,,Chemistry,Israel,31 December 1937,NaN,male,https://en.wikipedia.org/wiki/Avram_Hershko,Karcag,NaN,"Avram Hershko , born in Hungary , Chemistry, ...",2004
1049,Daniel Kahneman,,Economics,Israel,5 March 1934,NaN,male,https://en.wikipedia.org/wiki/Daniel_Kahneman,Tel Aviv,NaN,"Daniel Kahneman , Economics, 2002",2002
1050,Peter Grünberg,,Physics,Germany,18 May 1939,NaN,male,https://en.wikipedia.org/wiki/Peter_Gr%C3%BCnberg,Plzeň,NaN,"Peter Grünberg , born in then Protectorate of...",2007
1051,Theodor W. Hänsch,,Physics,Germany,30 October 1941,NaN,male,https://en.wikipedia.org/wiki/Theodor_W._H%C3%...,Heidelberg,NaN,"Theodor W. Hänsch , Physics, 2005",2005
1052,Wolfgang Ketterle,,Physics,Germany,21 October 1957,NaN,male,https://en.wikipedia.org/wiki/Wolfgang_Ketterle,Heidelberg,NaN,"Wolfgang Ketterle , Physics, 2001",2001
1055,Kailash Satyarthi,,Peace,India,11 January 1954,NaN,male,https://en.wikipedia.org/wiki/Kailash_Satyarthi,Vidisha,NaN,"Kailash Satyarthi , Peace, 2014",2014
1056,Venkatraman Ramakrishnan *,India,Chemistry,,1952,NaN,male,https://en.wikipedia.org/wiki/Venkatraman_Rama...,Chidambaram,NaN,"Venkatraman Ramakrishnan *, as a UK Citizen ,...",2009
1060,Charles K. Kao,,Physics,Hong Kong,4 November 1933,NaN,male,https://en.wikipedia.org/wiki/Charles_K._Kao,Shanghai,NaN,"Charles K. Kao , Physics, 2009",2009
1061,Avram Hershko *,Hungary,Chemistry,,31 December 1937,NaN,male,https://en.wikipedia.org/wiki/Avram_Hershko,Karcag,NaN,"Avram Hershko *, as an Israeli citizen , Ch...",2004
1062,Imre Kertész,,Literature,Hungary,9 November 1929,31 March 2016,male,https://en.wikipedia.org/wiki/Imre_Kert%C3%A9sz,Budapest,Budapest,"Imre Kertész , Literature, 2002",2002

## Cleaning the Data
### Remove the asterisk from names

In [8]:
# How many names with asterisk?
df[df.name.str.contains('\*')]['name'].count()

131

In [9]:
# Take out the asterisks in people's name
df.name = df.name.str.replace('*', '')
df[df.name.str.contains('\*')]['name'].count()

0

### Eliminating duplications for people with a born_in entry

In [10]:
set(df.born_in.apply(type))

{unicode}

In [11]:
bornin_col = df.born_in # or df['born_in']

# if you look at bornin_col, most entries are an empty string
# replace empty strings with NaN
bornin_col.replace('', np.nan, inplace=True)
bornin_col

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
5           NaN
6           NaN
7           NaN
8           NaN
9           NaN
10          NaN
11          NaN
12          NaN
13          NaN
14          NaN
15          NaN
16          NaN
17          NaN
18          NaN
19          NaN
20      Germany
21          NaN
22          NaN
23          NaN
24          NaN
25          NaN
26          NaN
27          NaN
28          NaN
29      Germany
         ...
1039        NaN
1040      India
1041      India
1042        NaN
1043        NaN
1044        NaN
1045        NaN
1046        NaN
1047        NaN
1048        NaN
1049        NaN
1050        NaN
1051        NaN
1052        NaN
1053        NaN
1054        NaN
1055        NaN
1056      India
1057        NaN
1058      India
1059        NaN
1060        NaN
1061    Hungary
1062        NaN
1063        NaN
1064        NaN
1065        NaN
1066        NaN
1067        NaN
1068        NaN
Name: born_in, Length: 1069, dtype: object

In [12]:
# Rows with born_in are duplicate entries, so remove all rows
# which are not NaN in bornin_col
df = df[df.born_in.isnull()]
print(df.count()) # note that born_in count is now 0
#df = df.drop('born_in', axis=1) # drop the born_in column

name              938
born_in             0
category          938
country           938
date_of_birth     929
date_of_death     627
gender            929
link              938
place_of_birth    929
place_of_death    627
text              938
year              938
dtype: int64

### Finding other duplicates
Internet search shows that 889 people and organizations have received Nobel prize, but our data set contains more, so let's look for more duplications

In [13]:
dupes_by_name = df[df.duplicated('name')]
dupes_by_name.count()

name              56
born_in            0
category          56
country           56
date_of_birth     55
date_of_death     35
gender            55
link              56
place_of_birth    55
place_of_death    35
text              56
year              56
dtype: int64

In [14]:
# By default, 'duplicated' gives the first occurance of a duplicated item
# but it has an option 'keep="last"'.  Using both options, we can get a full
# list of all the duplicated items
all_dupes = df[df.duplicated('name') | df.duplicated('name', keep='last')]
all_dupes.count()

# we could have also done this in the following way
# using the 'isin' method
all_dupes = df[df.name.isin(dupes_by_name.name)]
all_dupes.count()

# we could have also done this in the following way
# groupby returns iterator of (groupname, dataframeofrows) tuples, e.g.
for name, rows in df.groupby('name'):
    print('name: {}, number of rows: {}'.format(name.encode('utf-8'), len(rows)))
# use groupby as follows:
pd.concat([g for _, g in df.groupby('name') if len(g) > 1])

name: A. Michael Spence, number of rows: 1
name: Aage Bohr, number of rows: 1
name: Aaron Ciechanover, number of rows: 1
name: Aaron Klug, number of rows: 2
name: Abdus Salam, number of rows: 1
name: Ada Yonath, number of rows: 1
name: Adam G. Riess, number of rows: 1
name: Adolf Butenandt, number of rows: 1
name: Adolf Otto Reinhold Windaus, number of rows: 1
name: Adolf von Baeyer, number of rows: 1
name: Adolfo Pérez Esquivel, number of rows: 2
name: Ahmed H. Zewail, number of rows: 1
name: Ahmed Zewail, number of rows: 1
name: Akira Suzuki, number of rows: 1
name: Al Gore, number of rows: 1
name: Alan Heeger, number of rows: 1
name: Alan Lloyd Hodgkin, number of rows: 1
name: Alan MacDiarmid, number of rows: 1
name: Albert A. Michelson, number of rows: 1
name: Albert Camus, number of rows: 1
name: Albert Claude, number of rows: 1
name: Albert Einstein, number of rows: 2
name: Albert Fert, number of rows: 1
name: Albert Lutuli, number of rows: 1
name: Albert Schweitzer, number of rows: 1
name: Albert Szent-Györgyi, number of rows: 1
name: Albrecht Kossel, number of rows: 1
name: Aleksandr Solzhenitsyn, number of rows: 1
name: Alexander Fleming, number of rows: 1
name: Alexander Prokhorov, number of rows: 1
name: Alexander R. Todd, number of rows: 1
name: Alexei A. Abrikosov, number of rows: 1
name: Alexis Carrel, number of rows: 1
name: Alfonso García Robles, number of rows: 1
name: Alfred G. Gilman, number of rows: 1
name: Alfred Hermann Fried, number of rows: 1
name: Alfred Hershey, number of rows: 1
name: Alfred Kastler, number of rows: 1
name: Alfred Werner, number of rows: 1
name: Alice Munro, number of rows: 1
name: Allan M. Cormack, number of rows: 1
name: Allvar Gullstrand, number of rows: 1
name: Alva Myrdal, number of rows: 1
name: Alvin E. Roth, number of rows: 1
name: Amartya Sen, number of rows: 1
name: American Friends Service Committee  (The Quakers), number of rows: 1
name: Amnesty International, number of rows: 1
name: Anatole France, number of rows: 1
name: Andre Geim, number of rows: 1
name: Andrei Sakharov, number of rows: 1
name: Andrew Huxley, number of rows: 1
name: Andrew Z. Fire, number of rows: 1
name: Andrzej W. Schally, number of rows: 1
name: André F. Cournand, number of rows: 1
name: André Frédéric Cournand, number of rows: 1
name: André Gide, number of rows: 1
name: André Lwoff, number of rows: 1
name: Angus Deaton, number of rows: 2
name: Anthony J. Leggett, number of rows: 1
name: Antoine Henri Becquerel, number of rows: 1
name: Antony Hewish, number of rows: 1
name: António Egas Moniz, number of rows: 1
name: Anwar Sadat, number of rows: 1
name: Archer John Porter Martin, number of rows: 1
name: Archibald Vivian Hill, number of rows: 1
name: Arieh Warshel, number of rows: 1
name: Aristide Briand, number of rows: 1
name: Arne Tiselius, number of rows: 1
name: Arno Penzias, number of rows: 1
name: Arthur B. McDonald, number of rows: 1
name: Arthur H. Compton, number of rows: 1
name: Arthur Harden, number of rows: 1
name: Arthur Henderson, number of rows: 1
name: Arthur Kornberg, number of rows: 1
name: Arthur L. Schawlow, number of rows: 1
name: Arthur Lewis, number of rows: 1
name: Artturi Ilmari Virtanen, number of rows: 1
name: Arvid Carlsson, number of rows: 1
name: August Krogh, number of rows: 1
name: Auguste Beernaert, number of rows: 1
name: Aung San Suu Kyi, number of rows: 1
name: Austen Chamberlain, number of rows: 1
name: Avram Hershko, number of rows: 1
name: Aziz Sancar, number of rows: 2
name: Barack H. Obama, number of rows: 1
name: Barbara McClintock, number of rows: 1
name: Barry Marshall, number of rows: 1
name: Baruch S. Blumberg, number of rows: 1
name: Baruj Benacerraf, number of rows: 2
name: Ben Feringa, number of rows: 1
name: Ben Roy Mottelson, number of rows: 1
name: Bengt I. Samuelsson, number of rows: 1
name: Bengt R. Holmström, number of rows: 1
name: Bernard Katz, number of rows: 1
name: Bernardo Houssay, number of rows: 2
name: Bert Sakmann, number of rows: 1
name: Bertha von Suttner, number of rows: 1
name: Bertil Ohlin, number of rows: 1
name: Bertram Brockhouse, number of rows: 1
name: Bertrand Russell, number of rows: 1
name: Betty Williams, number of rows: 1
name: Bjørnstjerne Bjørnson, number of rows: 1
name: Bob Dylan, number of rows: 1
name: Boris Pasternak, number of rows: 1
name: Brian David Josephson, number of rows: 1
name: Brian K. Kobilka, number of rows: 1
name: Brian P. Schmidt, number of rows: 1
name: Brian Schmidt, number of rows: 1
name: Bruce Beutler, number of rows: 1
name: Bruce Merrifield, number of rows: 1
name: Burton Richter, number of rows: 1
name: C. V. Raman, number of rows: 1
name: Camillo Golgi, number of rows: 1
name: Camilo José Cela, number of rows: 1
name: Carl Anderson, number of rows: 1
name: Carl Bosch, number of rows: 1
name: Carl Cori, number of rows: 1
name: Carl E. Wieman, number of rows: 1
name: Carl Gustaf Verner von Heidenstam, number of rows: 1
name: Carl Spitteler, number of rows: 1
name: Carl von Ossietzky, number of rows: 1
name: Carlo Rubbia, number of rows: 1
name: Carlos Filipe Ximenes Belo, number of rows: 1
name: Carlos Saavedra Lamas, number of rows: 2
name: Carol W. Greider, number of rows: 1
name: Cecil Frank Powell, number of rows: 1
name: Charles Albert Gobat, number of rows: 1
name: Charles B. Huggins, number of rows: 1
name: Charles G. Dawes, number of rows: 1
name: Charles Glover Barkla, number of rows: 1
name: Charles H. Townes, number of rows: 1
name: Charles J. Pedersen, number of rows: 1
name: Charles K. Kao, number of rows: 2
name: Charles Louis Alphonse Laveran, number of rows: 1
name: Charles Nicolle, number of rows: 1
name: Charles Richet, number of rows: 1
name: Charles Scott Sherrington, number of rows: 1
name: Charles Thomson Rees Wilson, number of rows: 1
name: Charles Édouard Guillaume, number of rows: 1
name: Chen Ning Yang, number of rows: 1
name: Christiaan Eijkman, number of rows: 1
name: Christian Anfinsen, number of rows: 1
name: Christian Lous Lange, number of rows: 1
name: Christian de Duve, number of rows: 1
name: Christiane Nüsslein-Volhard, number of rows: 1
name: Christopher A. Pissarides, number of rows: 1
name: Christopher A. Sims, number of rows: 1
name: Claude Cohen-Tannoudji, number of rows: 1
name: Claude Simon, number of rows: 1
name: Clifford G. Shull, number of rows: 1
name: Clinton Davisson, number of rows: 1
name: Cordell Hull, number of rows: 1
name: Corneille Heymans, number of rows: 1
name: Craig C. Mello, number of rows: 1
name: Cyril Norman Hinshelwood, number of rows: 1
name: Czesław Miłosz, number of rows: 1
name: César Milstein, number of rows: 3
name: Dag Hammarskjöld, number of rows: 1
name: Dale T. Mortensen, number of rows: 1
name: Dan Shechtman, number of rows: 1
name: Daniel Bovet, number of rows: 2
name: Daniel C. Tsui, number of rows: 1
name: Daniel Carleton Gajdusek, number of rows: 1
name: Daniel Kahneman, number of rows: 1
name: Daniel L. McFadden, number of rows: 1
name: Daniel Nathans, number of rows: 1
name: Dario Fo, number of rows: 1
name: David Baltimore, number of rows: 1
name: David H. Hubel, number of rows: 1
name: David J. Gross, number of rows: 1
name: David J. Thouless, number of rows: 2
name: David J. Wineland, number of rows: 1
name: David M. Lee, number of rows: 1
name: David Trimble, number of rows: 1
name: Dennis Gabor, number of rows: 2
name: Derek Harold Richard Barton, number of rows: 1
name: Derek Walcott, number of rows: 1
name: Desmond Tutu, number of rows: 1
name: Dickinson W. Richards, number of rows: 1
name: Dominique Pire, number of rows: 1
name: Donald A. Glaser, number of rows: 1
name: Donald J. Cram, number of rows: 1
name: Doris Lessing, number of rows: 1
name: Dorothy Crowfoot Hodgkin, number of rows: 1
name: Douglas D. Osheroff, number of rows: 1
name: Douglass C. North, number of rows: 1
name: Dudley R. Herschbach, number of rows: 1
name: E. Donnall Thomas, number of rows: 1
name: E. M. Purcell, number of rows: 1
name: Earl W. Sutherland Jr., number of rows: 1
name: Edgar Adrian, number of rows: 1
name: Edmond H. Fischer, number of rows: 1
name: Edmund S. Phelps, number of rows: 1
name: Eduard Buchner, number of rows: 1
name: Edvard Moser, number of rows: 1
name: Edward A. Doisy, number of rows: 1
name: Edward B. Lewis, number of rows: 1
name: Edward C. Kendall, number of rows: 1
name: Edward C. Prescott, number of rows: 1
name: Edward Tatum, number of rows: 1
name: Edward Victor Appleton, number of rows: 1
name: Edwin G. Krebs, number of rows: 1
name: Edwin M. McMillan, number of rows: 1
name: Ei-ichi Negishi, number of rows: 1
name: Eisaku Satō, number of rows: 1
name: Elfriede Jelinek, number of rows: 1
name: Elias Canetti, number of rows: 1
name: Elias James Corey, number of rows: 1
name: Elie Wiesel, number of rows: 1
name: Elihu Root, number of rows: 1
name: Elinor Ostrom, number of rows: 1
name: Elizabeth Blackburn, number of rows: 1
name: Ellen Johnson Sirleaf, number of rows: 1
name: Emil Adolf von Behring, number of rows: 1
name: Emilio Segrè, number of rows: 2
name: Emily G. Balch, number of rows: 1
name: Enrico Fermi, number of rows: 1
name: Eric A. Cornell, number of rows: 1
name: Eric Betzig, number of rows: 1
name: Eric F. Wieschaus, number of rows: 1
name: Eric R. Kandel, number of rows: 1
name: Eric S. Maskin, number of rows: 1
name: Erik Axel Karlfeldt, number of rows: 1
name: Ernest Hemingway, number of rows: 1
name: Ernest Lawrence, number of rows: 1
name: Ernest Rutherford, number of rows: 1
name: Ernest Walton, number of rows: 1
name: Ernesto Teodoro Moneta, number of rows: 1
name: Ernst Boris Chain, number of rows: 1
name: Ernst Otto Fischer, number of rows: 1
name: Ernst Ruska, number of rows: 1
name: Erwin Neher, number of rows: 1
name: Erwin Schrödinger, number of rows: 1
name: Eugene F. Fama, number of rows: 1
name: Eugene O'Neill, number of rows: 1
name: Eugene Wigner, number of rows: 2
name: Eugenio Montale, number of rows: 1
name: Eyvind Johnson, number of rows: 1
name: F. Duncan M. Haldane, number of rows: 2
name: F. Sherwood Rowland, number of rows: 1
name: F. W. de Klerk, number of rows: 1
name: Felix Bloch, number of rows: 2
name: Feodor Felix Konrad Lynen, number of rows: 1
name: Ferdinand Buisson, number of rows: 1
name: Ferid Murad, number of rows: 1
name: Finn E. Kydland, number of rows: 1
name: Francis Crick, number of rows: 1
name: Francis Peyton Rous, number of rows: 1
name: Francis William Aston, number of rows: 1
name: Franco Modigliani, number of rows: 2
name: Frank B. Kellogg, number of rows: 1
name: Frank Wilczek, number of rows: 1
name: Frans Eemil Sillanpää, number of rows: 1
name: François Englert, number of rows: 1
name: François Jacob, number of rows: 1
name: François Mauriac, number of rows: 1
name: Françoise Barré-Sinoussi, number of rows: 1
name: Fraser Stoddart, number of rows: 2
name: Frederick C. Robbins, number of rows: 1
name: Frederick G. Banting, number of rows: 1
name: Frederick Hopkins, number of rows: 1
name: Frederick Reines, number of rows: 1
name: Frederick Sanger, number of rows: 2
name: Frederick Soddy, number of rows: 1
name: Fredrik Bajer, number of rows: 1
name: Fridtjof Nansen, number of rows: 1
name: Friedrich Bergius, number of rows: 1
name: Friedrich Hayek, number of rows: 2
name: Friends Service Council, number of rows: 1
name: Frits Zernike, number of rows: 1
name: Fritz Haber, number of rows: 1
name: Fritz Lipmann, number of rows: 1
name: Fritz Pregl, number of rows: 1
name: Frédéric Joliot-Curie, number of rows: 1
name: Frédéric Mistral, number of rows: 1
name: Frédéric Passy, number of rows: 1
name: Gabriel García Márquez, number of rows: 1
name: Gabriel Lippmann, number of rows: 1
name: Gabriela Mistral, number of rows: 1
name: Gao Xingjian, number of rows: 1
name: Gary S. Becker, number of rows: 1
name: Geoffrey Wilkinson, number of rows: 1
name: Georg Wittig, number of rows: 1
name: Georg von Békésy, number of rows: 2
name: George A. Akerlof, number of rows: 1
name: George Andrew Olah, number of rows: 2
name: George Beadle, number of rows: 1
name: George Bernard Shaw, number of rows: 1
name: George C. Marshall, number of rows: 1
name: George D. Snell, number of rows: 1
name: George E. Palade, number of rows: 1
name: George E. Smith, number of rows: 1
name: George F. Smoot, number of rows: 1
name: George H. Hitchings, number of rows: 1
name: George H. Whipple, number of rows: 1
name: George J. Stigler, number of rows: 1
name: George Paget Thomson, number of rows: 1
name: George Porter, number of rows: 1
name: George R. Minot, number of rows: 1
name: George Wald, number of rows: 1
name: George de Hevesy, number of rows: 1
name: Georges Charpak, number of rows: 2
name: Georges J. F. Köhler, number of rows: 1
name: Gerald Edelman, number of rows: 1
name: Gerard 't Hooft, number of rows: 1
name: Gerd Binnig, number of rows: 1
name: Gerhard Domagk, number of rows: 1
name: Gerhard Ertl, number of rows: 1
name: Gerhard Herzberg, number of rows: 1
name: Gerhart Hauptmann, number of rows: 1
name: Gertrude B. Elion, number of rows: 1
name: Gerty Cori, number of rows: 1
name: Giorgos Seferis, number of rows: 1
name: Giosuè Carducci, number of rows: 1
name: Giulio Natta, number of rows: 1
name: Glenn Theodore Seaborg, number of rows: 1
name: Godfrey Hounsfield, number of rows: 1
name: Grazia Deledda, number of rows: 1
name: Guglielmo Marconi, number of rows: 1
name: Gunnar Myrdal, number of rows: 1
name: Gustaf Dalén, number of rows: 1
name: Gustav Ludwig Hertz, number of rows: 1
name: Gustav Stresemann, number of rows: 1
name: Gérard Debreu, number of rows: 2
name: Günter Blobel, number of rows: 1
name: Günter Grass, number of rows: 1
name: H. David Politzer, number of rows: 1
name: H. Robert Horvitz, number of rows: 1
name: Haldan Keffer Hartline, number of rows: 1
name: Halldór Laxness, number of rows: 1
name: Hamilton O. Smith, number of rows: 1
name: Hannes Alfvén, number of rows: 1
name: Hans Adolf Krebs, number of rows: 1
name: Hans Bethe, number of rows: 1
name: Hans Fischer, number of rows: 1
name: Hans G. Dehmelt, number of rows: 1
name: Hans Spemann, number of rows: 1
name: Hans von Euler-Chelpin, number of rows: 1
name: Harald zur Hausen, number of rows: 1
name: Harold C. Urey, number of rows: 1
name: Harold E. Varmus, number of rows: 1
name: Harold Kroto, number of rows: 1
name: Harold Pinter, number of rows: 1
name: Harry M. Markowitz, number of rows: 1
name: Harry Martinson, number of rows: 1
name: Hartmut Michel, number of rows: 1
name: Heike Kamerlingh Onnes, number of rows: 1
name: Heinrich Böll, number of rows: 1
name: Heinrich Otto Wieland, number of rows: 1
name: Heinrich Rohrer, number of rows: 1
name: Hendrik Lorentz, number of rows: 1
name: Henri Bergson, number of rows: 1
name: Henri La Fontaine, number of rows: 1
name: Henri Moissan, number of rows: 1
name: Henrik Dam, number of rows: 1
name: Henrik Pontoppidan, number of rows: 1
name: Henry Dunant, number of rows: 2
name: Henry Hallett Dale, number of rows: 1
name: Henry Kissinger, number of rows: 1
name: Henry Taube, number of rows: 1
name: Henry W. Kendall, number of rows: 1
name: Henryk Sienkiewicz, number of rows: 1
name: Herbert A. Hauptman, number of rows: 1
name: Herbert A. Simon, number of rows: 1
name: Herbert C. Brown, number of rows: 1
name: Herbert Kroemer, number of rows: 1
name: Herbert S. Gasser, number of rows: 1
name: Hermann Emil Fischer, number of rows: 1
name: Hermann Hesse, number of rows: 1
name: Hermann J. Muller, number of rows: 1
name: Hermann Staudinger, number of rows: 1
name: Herta Müller, number of rows: 1
name: Hideki Shirakawa, number of rows: 1
name: Hideki Yukawa, number of rows: 1
name: Hiroshi Amano, number of rows: 1
name: Hjalmar Branting, number of rows: 1
name: Horst L. Störmer, number of rows: 1
name: Horst Ludwig Störmer, number of rows: 1
name: Howard Florey, number of rows: 1
name: Howard Martin Temin, number of rows: 1
name: Igor Tamm, number of rows: 1
name: Ilya Ilyich Mechnikov, number of rows: 1
name: Ilya Mikhailovich Frank, number of rows: 1
name: Ilya Prigogine, number of rows: 1
name: Imre Kertész, number of rows: 1
name: Institut de Droit International, number of rows: 1
name: International Atomic Energy Agency, number of rows: 1
name: Irving Langmuir, number of rows: 1
name: Irwin Rose, number of rows: 1
name: Irène Joliot-Curie, number of rows: 1
name: Isaac Bashevis Singer, number of rows: 1
name: Isamu Akasaki, number of rows: 1
name: Isidor Isaac Rabi, number of rows: 1
name: Ivan Bunin, number of rows: 1
name: Ivan Pavlov, number of rows: 1
name: Ivar Giaever, number of rows: 2
name: Ivo Andrić, number of rows: 1
name: J. Georg Bednorz, number of rows: 1
name: J. Hans D. Jensen, number of rows: 1
name: J. J. Thomson, number of rows: 1
name: J. M. Coetzee, number of rows: 1
name: J. M. G. Le Clézio, number of rows: 1
name: J. Michael Bishop, number of rows: 1
name: J. Robin Warren, number of rows: 1
name: Jacinto Benavente, number of rows: 1
name: Jack Kilby, number of rows: 1
name: Jack Steinberger, number of rows: 1
name: Jack W. Szostak, number of rows: 2
name: Jacobus Henricus van 't Hoff, number of rows: 1
name: Jacques Monod, number of rows: 1
name: James A. Mirrlees, number of rows: 1
name: James B. Sumner, number of rows: 1
name: James Chadwick, number of rows: 1
name: James Cronin, number of rows: 1
name: James D. Watson, number of rows: 1
name: James Franck, number of rows: 1
name: James J. Heckman, number of rows: 1
name: James M. Buchanan, number of rows: 1
name: James Meade, number of rows: 1
name: James Rainwater, number of rows: 1
name: James Rothman, number of rows: 1
name: James Tobin, number of rows: 1
name: James W. Black, number of rows: 1
name: Jan Tinbergen, number of rows: 1
name: Jane Addams, number of rows: 1
name: Jaroslav Heyrovský, number of rows: 1
name: Jaroslav Seifert, number of rows: 1
name: Jean Baptiste Perrin, number of rows: 1
name: Jean Dausset, number of rows: 1
name: Jean Tirole, number of rows: 1
name: Jean-Marie Lehn, number of rows: 1
name: Jean-Paul Sartre, number of rows: 1
name: Jean-Pierre Sauvage, number of rows: 1
name: Jens Christian Skou, number of rows: 1
name: Jerome I. Friedman, number of rows: 1
name: Jerome Karle, number of rows: 1
name: Jimmy Carter, number of rows: 1
name: Jody Williams, number of rows: 1
name: Johann Deisenhofer, number of rows: 1
name: Johannes Diderik van der Waals, number of rows: 1
name: Johannes Fibiger, number of rows: 1
name: Johannes Stark, number of rows: 1
name: Johannes V. Jensen, number of rows: 1
name: John B. Gurdon, number of rows: 1
name: John Bardeen, number of rows: 2
name: John Bennett Fenn, number of rows: 1
name: John Boyd Orr, number of rows: 1
name: John C. Mather, number of rows: 1
name: John Carew Eccles, number of rows: 1
name: John Charles Harsanyi, number of rows: 1
name: John Cockcroft, number of rows: 1
name: John Cornforth, number of rows: 1
name: John E. Sulston, number of rows: 1
name: John E. Walker, number of rows: 1
name: John F. Enders, number of rows: 1
name: John Forbes Nash, number of rows: 1
name: John Galsworthy, number of rows: 1
name: John H. Northrop, number of rows: 1
name: John H. van Vleck, number of rows: 1
name: John Harsanyi, number of rows: 2
name: John Hicks, number of rows: 1
name: John Hume, number of rows: 1
name: John James Rickard Macleod, number of rows: 1
name: John Kendrew, number of rows: 1
name: John L. Hall, number of rows: 1
name: John M. Kosterlitz, number of rows: 2
name: John O'Keefe, number of rows: 1
name: John Polanyi, number of rows: 2
name: John Pople, number of rows: 1
name: John R. Mott, number of rows: 1
name: John Robert Vane, number of rows: 1
name: John Steinbeck, number of rows: 1
name: John Strutt, number of rows: 1
name: Joseph Brodsky, number of rows: 1
name: Joseph E. Murray, number of rows: 1
name: Joseph E. Stiglitz, number of rows: 1
name: Joseph Erlanger, number of rows: 1
name: Joseph H. Taylor Jr., number of rows: 1

,name,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
785,Aaron Klug,NaN,Chemistry,United Kingdom,11 August 1926,NaN,male,https://en.wikipedia.org/wiki/Aaron_Klug,Želva,NaN,"Aaron Klug , born in Lithuania , Chemistry, 1982",1982
799,Aaron Klug,NaN,Chemistry,South Africa,11 August 1926,NaN,male,https://en.wikipedia.org/wiki/Aaron_Klug,Želva,NaN,"Aaron Klug , Chemistry, 1982",1982
277,Adolfo Pérez Esquivel,NaN,Peace,Summary,26 November 1931,NaN,male,https://en.wikipedia.org/wiki/Adolfo_P%C3%A9re...,Buenos Aires,NaN,"Adolfo Pérez Esquivel , Peace, 1980",1980
289,Adolfo Pérez Esquivel,NaN,Peace,Argentina,26 November 1931,NaN,male,https://en.wikipedia.org/wiki/Adolfo_P%C3%A9re...,Buenos Aires,NaN,"Adolfo Pérez Esquivel , Peace, 1980",1980
836,Albert Einstein,NaN,Physics,Switzerland,14 March 1879,18 April 1955,male,https://en.wikipedia.org/wiki/Albert_Einstein,Ulm,Princeton,"Albert Einstein , born in Germany , Physics, ...",1921
986,Albert Einstein,NaN,Physics,Germany,14 March 1879,18 April 1955,male,https://en.wikipedia.org/wiki/Albert_Einstein,Ulm,Princeton,"Albert Einstein , Physics, 1921",1921
692,Angus Deaton,NaN,Economics,United States,19 October 1945,NaN,male,https://en.wikipedia.org/wiki/Angus_Deaton,Edinburgh,NaN,"Angus Deaton , born in United Kingdom , Econo...",2015
841,Angus Deaton,NaN,Economics,United Kingdom,19 October 1945,NaN,male,https://en.wikipedia.org/wiki/Angus_Deaton,Edinburgh,NaN,"Angus Deaton , Economics, 2015",2015
675,Aziz Sancar,NaN,Chemistry,United States,8 September 1946,NaN,male,https://en.wikipedia.org/wiki/Aziz_Sancar,Savur,NaN,"Aziz Sancar , born in Turkey , Chemistry, 2015",2015
814,Aziz Sancar,NaN,Chemistry,Turkey,8 September 1946,NaN,male,https://en.wikipedia.org/wiki/Aziz_Sancar,Savur,NaN,"Aziz Sancar , Chemistry, 2015",2015
333,Baruj Benacerraf,NaN,Physiology or Medicine,Venezuela,29 October 1920,2 August 2011,male,https://en.wikipedia.org/wiki/Baruj_Benacerraf,Caracas,Boston,"Baruj Benacerraf , Physiology or Medicine, 1980",1980
418,Baruj Benacerraf,NaN,Physiology or Medicine,United States,29 October 1920,2 August 2011,male,https://en.wikipedia.org/wiki/Baruj_Benacerraf,Caracas,Boston,"Baruj Benacerraf , born in Venezuela , Physio...",1980
286,Bernardo Houssay,NaN,Physiology or Medicine,Summary,10 April 1887,21 September 1971,male,https://en.wikipedia.org/wiki/Bernardo_Houssay,Buenos Aires,Buenos Aires,"Bernardo Houssay , Physiology or Medicine, 1947",1947
291,Bernardo Houssay,NaN,Physiology or Medicine,Argentina,10 April 1887,21 September 1971,male,https://en.wikipedia.org/wiki/Bernardo_Houssay,Buenos Aires,Buenos Aires,"Bernardo Houssay , Physiology or Medicine, 1947",1947
287,Carlos Saavedra Lamas,NaN,Peace,Summary,1 November 1878,5 May 1959,male,https://en.wikipedia.org/wiki/Carlos_Saavedra_...,Buenos Aires,Buenos Aires,"Carlos Saavedra Lamas , Peace, 1936",1936
292,Carlos Saavedra Lamas,NaN,Peace,Argentina,1 November 1878,5 May 1959,male,https://en.wikipedia.org/wiki/Carlos_Saavedra_...,Buenos Aires,Buenos Aires,"Carlos Saavedra Lamas , Peace, 1936",1936
645,Charles K. Kao,NaN,Physics,United States,4 November 1933,NaN,male,https://en.wikipedia.org/wiki/Charles_K._Kao,Shanghai,NaN,"Charles K. Kao , born in China , Physics, 2009",2009
1060,Charles K. Kao,NaN,Physics,Hong Kong,4 November 1933,NaN,male,https://en.wikipedia.org/wiki/Charles_K._Kao,Shanghai,NaN,"Charles K. Kao , Physics, 2009",2009
281,César Milstein,NaN,Physiology or Medicine,Summary,8 October 1927,24 March 2002,male,https://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,Bahía Blanca,Cambridge,"César Milstein , Physiology or Medicine, 1984",1984
288,César Milstein,NaN,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,https://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,Bahía Blanca,Cambridge,"César Milstein , Physiology or Medicine, 1984",1984
782,César Milstein,NaN,Physiology or Medicine,United Kingdom,8 October 1927,24 March 2002,male,https://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,Bahía Blanca,Cambridge,"César Milstein , born in Argentina , Physiolo...",1984
828,Daniel Bovet,NaN,Physiology or Medicine,Switzerland,23 March 1907,8 April 1992,male,https://en.wikipedia.org/wiki/Daniel_Bovet,Fleurier,Rome,"Daniel Bovet , Physiology or Medicine, 1957",1957
1023,Daniel Bovet,NaN,Physiology or Medicine,Italy,23 March 1907,8 April 1992,male,https://en.wikipedia.org/wiki/Daniel_Bovet,Fleurier,Rome,"Daniel Bovet , born in Switzerland , Physiolo...",1957
689,David J. Thouless,NaN,Physics,United States,21 September 1934,NaN,male,https://en.wikipedia.org/wiki/David_J._Thouless,Bearsden,NaN,"David J. Thouless , born in United Kingdom , ...",2016
822,David J. Thouless,NaN,Physics,United Kingdom,21 September 1934,NaN,male,https://en.wikipedia.org/wiki/David_J._Thouless,Bearsden,NaN,"David J. Thouless , Physics, 2016",2016
745,Dennis Gabor,NaN,Physics,United Kingdom,5 June 1900,9 February 1979,male,https://en.wikipedia.org/wiki/Dennis_Gabor,Budapest,London,"Dennis Gabor , born in Hungary , Physics, 1971",1971
1066,Dennis Gabor,NaN,Physics,Hungary,5 June 1900,9 February 1979,male,https://en.wikipedia.org/wiki/Dennis_Gabor,Budapest,London,"Dennis Gabor , Physics, 1971",1971
409,Emilio Segrè,NaN,Physics,United States,1 February 1905,22 April 1989,male,https://en.wikipedia.org/wiki/Emilio_Segr%C3%A8,Tivoli,Lafayette,"Emilio Segrè , born in Italy , Physics, 1959",1959
1025,Emilio Segrè,NaN,Physics,Italy,1 February 1905,22 April 1989,male,https://en.wikipedia.org/wiki/Emilio_Segr%C3%A8,Tivoli,Lafayette,"Emilio Segrè , Physics, 1959",1959
411,Eugene Wigner,NaN,Physics,United States,17 November 1902,1 January 1995,male,https://en.wikipedia.org/wiki/Eugene_Wigner,Budapest,Princeton,"Eugene Wigner , born in Hungary , Physics, 1963",1963
...,...,...,...,...,...,...,...,...,...,...,...,...
631,Osamu Shimomura,NaN,Chemistry,United States,27 August 1928,NaN,male,https://en.wikipedia.org/wiki/Osamu_Shimomura,Kyoto,NaN,"Osamu Shimomura , born in Japan , Chemistry, ...",2008
987,Osamu Shimomura,NaN,Chemistry,Japan,27 August 1928,NaN,male,https://en.wikipedia.org/wiki/Osamu_Shimomura,Kyoto,NaN,"Osamu Shimomura , Chemistry, 2008",2008
8,Philipp Lenard,NaN,Physics,Hungary,7 June 1862,20 May 1947,male,https://en.wikipedia.org/wiki/Philipp_Lenard,Bratislava,Messelhausen,"Philipp Lenard , Physics, 1905",1905
40,Philipp Lenard,NaN,Physics,Germany,7 June 1862,20 May 1947,male,https://en.wikipedia.org/wiki/Philipp_Lenard,Bratislava,Messelhausen,"Philipp Lenard , born in then Austria-Hungary...",1905
188,Ragnar Granit,NaN,Physiology or Medicine,Finland,30 October 1900,12 March 1991,male,https://en.wikipedia.org/wiki/Ragnar_Granit,Riihimäki,Stockholm,"Ragnar Granit , born in the Grand Duchy of Fi...",1809
863,Ragnar Granit,NaN,Physiology or Medicine,Sweden,30 October 1900,12 March 1991,male,https://en.wikipedia.org/wiki/Ragnar_Granit,Riihimäki,Stockholm,"Ragnar Granit , born in the Grand Duchy of Fi...",1967
273,Ralph M. Steinman,NaN,Physiology or Medicine,Canada,14 January 1943,30 September 2011,male,https://en.wikipedia.org/wiki/Ralph_M._Steinman,Montreal,Manhattan,"Ralph M. Steinman , Physiology or Medicine, 2011",2011
657,Ralph M. Steinman,NaN,Physiology or Medicine,United States,14 January 1943,30 September 2011,male,https://en.wikipedia.org/wiki/Ralph_M._Steinman,Montreal,Manhattan,"Ralph M. Steinman , born in Canada , Physiolo...",2011
6,Richard Adolf Zsigmondy,NaN,Chemistry,Hungary,1 April 1865,23 September 1929,male,https://en.wikipedia.org/wiki/Richard_Adolf_Zs...,Vienna,Göttingen,"Richard Adolf Zsigmondy , Chemistry, 1925",1925
261,Richard Adolf Zsigmondy,NaN,Chemistry,Austria,1 April 1865,23 September 1929,male,https://en.wikipedia.org/wiki/Richard_Adolf_Zs...,Vienna,Göttingen,"Richard Adolf Zsigmondy , Chemistry, 1925",1925
521,Rita Levi-Montalcini,NaN,Physiology or Medicine,United States,22 April 1909,30 December 2012,female,https://en.wikipedia.org/wiki/Rita_Levi-Montal...,Turin,Nomentano,"Rita Levi-Montalcini , born in Italy , Physio...",1986
1006,Rita Levi-Montalcini,NaN,Physiology or Medicine,Italy,22 April 1909,30 December 2012,female,https://en.wikipedia.org/wiki/Rita_Levi-Montal...,Turin,Nomentano,"Rita Levi-Montalcini , Physiology or Medicine,...",1986
514,Roald Hoffmann,NaN,Chemistry,United States,18 July 1937,NaN,male,https://en.wikipedia.org/wiki/Roald_Hoffmann,Zolochiv,NaN,"Roald Hoffmann , born in then Poland, now Ukr...",1981
817,Roald Hoffmann,NaN,Chemistry,Ukraine,18 July 1937,NaN,male,https://en.wikipedia.org/wiki/Roald_Hoffmann,Zolochiv,NaN,"Roald Hoffmann , Chemistry, 1981",1981
531,Ronald Coase,NaN,Economics,United States,29 December 1910,2 September 2013,male,https://en.wikipedia.org/wiki/Ronald_Coase,London,Chicago,"Ronald Coase , born in the United Kingdom , E...",1991
779,Ronald Coase,NaN,Economics,United Kingdom,29 December 1910,2 September 2013,male,https://en.wikipedia.org/wiki/Ronald_Coase,London,Chicago,"Ronald Coase , based in the United States , E...",1991
7,Róbert Bárány,NaN,,Hungary,22 April 1876,8 April 1936,male,https://en.wikipedia.org/wiki/R%C3%B3bert_B%C3...,Vienna,Uppsala domkyrkoförsamling,"Róbert Bárány , born in Austria-Hungary, Medi...",1914
263,Róbert Bárány,NaN,Physiology or Medicine,Austria,22 April 1876,8 April 1936,male,https://en.wikipedia.org/wiki/R%C3%B3bert_B%C3...,Vienna,Uppsala domkyrkoförsamling,"Róbert Bárány , Physiology or Medicine, 1914",1914
818,Shmuel Yosef Agnon,NaN,Literature,Ukraine,17 July 1888,17 February 1970,male,https://en.wikipedia.org/wiki/Shmuel_Yosef_Agnon,Buchach,Jerusalem,"Shmuel Yosef Agnon , Literature, 1966",1966
1014,Shmuel Yosef Agnon,NaN,Literature,Israel,17 July 1888,17 February 1970,male,https://en.wikipedia.org/wiki/Shmuel_Yosef_Agnon,Buchach,Jerusalem,"Shmuel Yosef Agnon , born in then Austria-Hun...",1966
247,Sidney Altman,NaN,Chemistry,Canada,7 May 1939,NaN,male,https://en.wikipedia.org/wiki/Sidney_Altman,Montreal,NaN,"Sidney Altman , Chemistry, 1989",1989
540,Sidney Altman,NaN,Chemistry,United States,7 May 1939,NaN,male,https://en.wikipedia.org/wiki/Sidney_Altman,Montreal,NaN,"Sidney Altman , born in Canada , Chemistry, 1990",1990
594,Sydney Brenner,NaN,Physiology or Medicine,United States,13 January 1927,NaN,male,https://en.wikipedia.org/wiki/Sydney_Brenner,Germiston,NaN,"Sydney Brenner , born in South Africa , Physi...",2002
808,Sydney Brenner,NaN,Physiology or Medicine,United Kingdom,13 January 1927,NaN,male,https://en.wikipedia.org/wiki/Sydney_Brenner,Germiston,NaN,"Sydney Brenner , born in South Africa , Physi...",2002
117,Thomas C. Südhof,NaN,Physiology or Medicine,Germany,22 December 1955,NaN,male,https://en.wikipedia.org/wiki/Thomas_C._S%C3%B...,Göttingen,NaN,"Thomas C. Südhof , Physiology or Medicine, 2013",2013
680,Thomas C. Südhof,NaN,Physiology or Medicine,United States,22 December 1955,NaN,male,https://en.wikipedia.org/wiki/Thomas_C._S%C3%B...,Göttingen,NaN,"Thomas C. Südhof , born in Germany , Physiolo...",2013
842,Tomas Lindahl,NaN,Chemistry,United Kingdom,28 January 1938,NaN,male,https://en.wikipedia.org/wiki/Tomas_Lindahl,Stockholm,NaN,"Tomas Lindahl , born in Sweden , Chemistry, 2015",2015
865,Tomas Lindahl,NaN,Chemistry,Sweden,28 January 1938,NaN,male,https://en.wikipedia.org/wiki/Tomas_Lindahl,Stockholm,NaN,"Tomas Lindahl , Chemistry, 2015",2015
676,William C. Campbell,NaN,Physiology or Medicine,United States,28 June 1930,NaN,male,https://en.wikipedia.org/wiki/William_C._Campb...,Ramelton,NaN,"William C. Campbell , born in Ireland , Physi...",2015
1043,William C. Campbell,NaN,Physiology or Medicine,Ireland,28 June 1930,NaN,male,https://en.wikipedia.org/wiki/William_C._Campb...,Ramelton,NaN,"William C. Campbell , Physiology or Medicine, ...",2015

In [15]:
# Sort the data now
# here is how sort_values works:
df2 = pd.DataFrame(\
                  {'name':['zak', 'alice', 'bob', 'mike',
                          'bob', 'bob'],
                  'score':[4, 3, 5, 2, 3, 7]})
df2 = df2.sort_values(['name', 'score'], ascending=[1,0])
print(df2)
# Now use it on all_dupes
all_dupes.sort_values('name')[['name', 'country', 'year']]

    name  score
1  alice      3
5    bob      7
2    bob      5
4    bob      3
3   mike      2
0    zak      4

                         name         country  year
785                Aaron Klug  United Kingdom  1982
799                Aaron Klug    South Africa  1982
277     Adolfo Pérez Esquivel         Summary  1980
289     Adolfo Pérez Esquivel       Argentina  1980
986           Albert Einstein         Germany  1921
836           Albert Einstein     Switzerland  1921
841              Angus Deaton  United Kingdom  2015
692              Angus Deaton   United States  2015
814               Aziz Sancar          Turkey  2015
675               Aziz Sancar   United States  2015
333          Baruj Benacerraf       Venezuela  1980
418          Baruj Benacerraf   United States  1980
291          Bernardo Houssay       Argentina  1947
286          Bernardo Houssay         Summary  1947
292     Carlos Saavedra Lamas       Argentina  1936
287     Carlos Saavedra Lamas         Summary  1936
645            Charles K. Kao   United States  2009
1060           Charles K. Kao       Hong Kong  2009
782            César Milstein  United Kingdom  1984
281            César Milstein         Summary  1984
288            César Milstein       Argentina  1984
828              Daniel Bovet     Switzerland  1957
1023             Daniel Bovet           Italy  1957
822         David J. Thouless  United Kingdom  2016
689         David J. Thouless   United States  2016
745              Dennis Gabor  United Kingdom  1971
1066             Dennis Gabor         Hungary  1971
409              Emilio Segrè   United States  1959
1025             Emilio Segrè           Italy  1959
411             Eugene Wigner   United States  1963
...                       ...             ...   ...
987           Osamu Shimomura           Japan  2008
631           Osamu Shimomura   United States  2008
40             Philipp Lenard         Germany  1905
8              Philipp Lenard         Hungary  1905
188             Ragnar Granit         Finland  1809
863             Ragnar Granit          Sweden  1967
657         Ralph M. Steinman   United States  2011
273         Ralph M. Steinman          Canada  2011
6     Richard Adolf Zsigmondy         Hungary  1925
261   Richard Adolf Zsigmondy         Austria  1925
521      Rita Levi-Montalcini   United States  1986
1006     Rita Levi-Montalcini           Italy  1986
514            Roald Hoffmann   United States  1981
817            Roald Hoffmann         Ukraine  1981
531              Ronald Coase   United States  1991
779              Ronald Coase  United Kingdom  1991
7               Róbert Bárány         Hungary  1914
263             Róbert Bárány         Austria  1914
818        Shmuel Yosef Agnon         Ukraine  1966
1014       Shmuel Yosef Agnon          Israel  1966
540             Sidney Altman   United States  1990
247             Sidney Altman          Canada  1989
594            Sydney Brenner   United States  2002
808            Sydney Brenner  United Kingdom  2002
117          Thomas C. Südhof         Germany  2013
680          Thomas C. Südhof   United States  2013
865             Tomas Lindahl          Sweden  2015
842             Tomas Lindahl  United Kingdom  2015
676       William C. Campbell   United States  2015
1043      William C. Campbell         Ireland  2015

[111 rows x 3 columns]

In [16]:
# This output shows that some recipients are in our dataset
# twice for the same year, but different countries.

# Change Curie's country to France for the 1911 entry
df.loc[(df.name == u'Marie Sk\u0142odowska-Curie') &\
      (df.year == 1911), 'country'] = 'France'

df.drop(df[(df.name=='Sidney Altman') & (df.year==1990)].index, inplace=True)
# could have done this the following way as well:
df = df[~((df.name=='Sidney Altman') & (df.year==1990))] # ~ is the logical 'not'

In [17]:
# define function for doing these cleanup activities
def clean_data(df):
    df = df.replace('', np.nan)
    df = df[df.born_in.isnull()] # eliminates the rows with 'born_in' values
    df = df.drop('born_in', axis=1) # don't need this column anymore
    df.drop(df[df.year==1809].index, inplace=True)
    df = df[~(df['name']=='Marie Curie')]
    df.loc[(df.name == u'Marie Sk\u0142odowska-Curie') &\
      (df.year == 1911), 'country'] = 'France'
    df = df[~((df.name=='Sidney Altman') & (df.year==1990))] # selects all rows 'not' (~) Sidney Altma 1990
    return df

df = clean_data(df)

In [18]:
# get rid of half of the dual country winners so each prize just counts once.
# to be fair, randomize the rows first so that country deleted is random.
df = df.reindex(np.random.permutation(df.index)) # randomize the index
# drop duplicate rows (both 'name' and 'year' the same) after the first encountered
df = df.drop_duplicates(['name', 'year'])
df = df.sort_index() # go back to unrandomized index
df.count()

name              883
category          878
country           883
date_of_birth     875
date_of_death     593
gender            875
link              883
place_of_birth    875
place_of_death    593
text              883
year              883
dtype: int64

In [19]:
# lest see how many duplicate winners we have now (some are valid)
df[df.duplicated('name') | df.duplicated('name', keep='last')]\
    .sort_values(by='name')[['name', 'country', 'year', 'category']]
    
# The output are the 4 valid multi-award winners!

                       name         country  year   category
748        Frederick Sanger  United Kingdom  1958  Chemistry
769        Frederick Sanger  United Kingdom  1980  Chemistry
376            John Bardeen   United States  1956    Physics
448            John Bardeen   United States  1972    Physics
383        Linus C. Pauling   United States  1954  Chemistry
401        Linus C. Pauling   United States  1962      Peace
924  Marie Skłodowska-Curie          Poland  1903    Physics
942  Marie Skłodowska-Curie          France  1911  Chemistry

In [20]:
df[df.year.isin([2016, 2017])] #my total differs from book, so look at recent winners...

,name,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
186,Bengt R. Holmström,Economics,Finland,18 April 1949,NaN,male,https://en.wikipedia.org/wiki/Bengt_R._Holmstr...,Helsinki,NaN,"Bengt R. Holmström , Economics, 2016",2016
191,Jean-Pierre Sauvage,Chemistry,France,21 October 1944,NaN,male,https://en.wikipedia.org/wiki/Jean-Pierre_Sauvage,Paris,NaN,"Jean-Pierre Sauvage , Chemistry, 2016",2016
221,Juan Manuel Santos,Peace,Colombia,10 August 1951,NaN,male,https://en.wikipedia.org/wiki/Juan_Manuel_Santos,Bogota,NaN,"Juan Manuel Santos , Peace, 2016",2016
555,Bob Dylan,Literature,United States,24 May 1941,NaN,male,https://en.wikipedia.org/wiki/Bob_Dylan,Duluth,NaN,"Bob Dylan , Literature, 2016",2016
687,Oliver Hart,Economics,United States,9 October 1948,NaN,male,https://en.wikipedia.org/wiki/Oliver_Hart_(eco...,London,NaN,"Oliver Hart , born in United Kingdom , Econom...",2016
690,F. Duncan M. Haldane,Physics,United States,14 September 1951,NaN,male,https://en.wikipedia.org/wiki/F._Duncan_M._Hal...,London,NaN,"F. Duncan M. Haldane , born in United Kingdom...",2016
691,John M. Kosterlitz,Physics,United States,22 June 1943,NaN,male,https://en.wikipedia.org/wiki/John_M._Kosterlitz,Aberdeen,NaN,"John M. Kosterlitz , born in United Kingdom ,...",2016
821,Fraser Stoddart,Chemistry,United Kingdom,24 May 1942,NaN,male,https://en.wikipedia.org/wiki/Fraser_Stoddart,Edinburgh,NaN,"Fraser Stoddart , Chemistry, 2016",2016
822,David J. Thouless,Physics,United Kingdom,21 September 1934,NaN,male,https://en.wikipedia.org/wiki/David_J._Thouless,Bearsden,NaN,"David J. Thouless , Physics, 2016",2016
996,Ben Feringa,Chemistry,Netherlands,18 May 1951,NaN,male,https://en.wikipedia.org/wiki/Ben_Feringa,Barger-Compascuum,NaN,"Ben Feringa , Chemistry, 2016",2016
1010,Yoshinori Ohsumi,Physiology or Medicine,Japan,9 February 1945,NaN,male,https://en.wikipedia.org/wiki/Yoshinori_Ohsumi,Fukuoka,NaN,"Yoshinori Ohsumi , Physiology or Medicine, 2016",2016

## Dealing with missing fields
First: missing categories

In [34]:
print(df.count())  # we are missing some categories and genders
df.category.unique() # recall when we scraped, we checked against this limited list.

name              874
category          874
country           874
date_of_birth     874
date_of_death     592
gender            874
link              874
place_of_birth    874
place_of_death    592
text              874
year              874
dtype: int64

array([u'Chemistry', u'Physiology or Medicine', u'Peace', u'Literature',
       u'Physics', u'Economics'], dtype=object)

In [22]:
# look at the missing categories
df[df.category.isnull()][['name', 'text', 'link', 'category']]

,name,text,link,category
7,Róbert Bárány,"Róbert Bárány , born in Austria-Hungary, Medi...",https://en.wikipedia.org/wiki/R%C3%B3bert_B%C3...,NaN
9,Leopold Ružička born in Kingdom of Hungary,Leopold Ružička born in Kingdom of Hungary,https://en.wikipedia.org/wiki/Leopold_Ru%C5%BE...,NaN
138,Alexis Carrel,"Alexis Carrel , Medicine, 1912",https://en.wikipedia.org/wiki/Alexis_Carrel,NaN
819,Ilya Ilyich Mechnikov,"Ilya Ilyich Mechnikov , Physiology and Medicin...",https://en.wikipedia.org/wiki/Ilya_Ilyich_Mech...,NaN
1057,Amartya Sen,"Amartya Sen , Economic Sciences, 1998",https://en.wikipedia.org/wiki/Amartya_Sen,NaN

In [23]:
df.loc[df.name == u'Leopold Ružička born in Kingdom of Hungary', ['name', 'text', 'category']] # doesn't work

Empty DataFrame
Columns: [name, text, category]
Index: []

In [24]:
print(u'Leopold Ružička born in Kingdom of Hungary'.encode('ascii', errors='backslashreplace'))
print(u'Róbert Bárány'.encode('ascii', errors='backslashreplace'))
df.loc[df.name==u'Leopold Ru\u017ei\u010dka born in Kingdom of Hungary', ['name', 'text', 'category']] # still doesn't work

Leopold Ru\u017ei\u010dka born in Kingdom of Hungary
R\xf3bert B\xe1r\xe1ny

Empty DataFrame
Columns: [name, text, category]
Index: []

In [25]:
df.loc[df.name.str.startswith('Leopold Ru'), :] # works!

,name,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
9,Leopold Ružička born in Kingdom of Hungary,NaN,Hungary,13 September 1887,26 September 1976,male,https://en.wikipedia.org/wiki/Leopold_Ru%C5%BE...,Vukovar,Mammern,Leopold Ružička born in Kingdom of Hungary,0
834,Leopold Ružička,Chemistry,Switzerland,13 September 1887,26 September 1976,male,https://en.wikipedia.org/wiki/Leopold_Ru%C5%BE...,Vukovar,Mammern,"Leopold Ružička , born in then Austria-Hungar...",1939

In [26]:
df.loc[df.name.str.startswith(u'R\xf3bert B\xe1r\xe1ny')]

,name,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
7,Róbert Bárány,NaN,Hungary,22 April 1876,8 April 1936,male,https://en.wikipedia.org/wiki/R%C3%B3bert_B%C3...,Vienna,Uppsala domkyrkoförsamling,"Róbert Bárány , born in Austria-Hungary, Medi...",1914

In [27]:
def clean_data(df):
    df = df.replace('', np.nan)
    if 'born_in' in df.columns:
        df = df[df.born_in.isnull()] # eliminates the rows with 'born_in' values
        df = df.drop('born_in', axis=1) # don't need this column anymore
    df.drop(df[df.year==1809].index, inplace=True)
    df = df[~(df['name']=='Marie Curie')]
    df.loc[(df.name == u'Marie Sk\u0142odowska-Curie') &\
      (df.year == 1911), 'country'] = 'France'
    df = df[~((df.name=='Sidney Altman') & (df.year==1990))] # selects all rows 'not' (~) Sidney Altma 1990
    # the missing categories are mostly people whose category name wasn't in standard format
    # fix that:
    df.loc[df.name=='Alexis Carrel', 'category'] = 'Physiology or Medicine'
    df.loc[df.name=='Ilya Ilyich Mechnikov', 'category'] = 'Physiology or Medicine'
    df.loc[df.name=='Amartya Sen', 'category'] = 'Economics'
    df.drop(df.loc[df.name.str.startswith('Leopold Ru') & (df.year != 1939)].index, inplace=True)
    df.loc[df.name.str.startswith(u'R\xf3bert B\xe1r\xe1ny'), 'category'] = 'Physiology or Medicine'
    return df

df = clean_data(df)

Now, missing gender

In [29]:
df[df['gender'].isnull()][['name', 'year', 'category']]

                                                  name  year category
103                 International Atomic Energy Agency  2005    Peace
242   Pugwash Conferences on Science and World Affairs  1995    Peace
269                    Institut de Droit International  1904    Peace
307                              Amnesty International  1977    Peace
310                            Friends Service Council  1947    Peace
366  American Friends Service Committee  (The Quakers)  1947    Peace
813                 Tunisian National Dialogue Quartet  2015    Peace
851                           Médecins Sans Frontières  1999    Peace

In [30]:
def clean_data(df):
    df = df.replace('', np.nan)
    if 'born_in' in df.columns:
        df = df[df.born_in.isnull()] # eliminates the rows with 'born_in' values
        df = df.drop('born_in', axis=1) # don't need this column anymore
    df.drop(df[df.year==1809].index, inplace=True)
    df = df[~(df['name']=='Marie Curie')]
    df.loc[(df.name == u'Marie Sk\u0142odowska-Curie') &\
      (df.year == 1911), 'country'] = 'France'
    df = df[~((df.name=='Sidney Altman') & (df.year==1990))] # selects all rows 'not' (~) Sidney Altma 1990
    # the missing categories are mostly people whose category name wasn't in standard format
    # fix that:
    df.loc[df.name=='Alexis Carrel', 'category'] = 'Physiology or Medicine'
    df.loc[df.name=='Ilya Ilyich Mechnikov', 'category'] = 'Physiology or Medicine'
    df.loc[df.name=='Amartya Sen', 'category'] = 'Economics'
    df.drop(df.loc[df.name.str.startswith('Leopold Ru') & (df.year != 1939)].index, inplace=True)
    df.loc[df.name.str.startswith(u'R\xf3bert B\xe1r\xe1ny'), 'category'] = 'Physiology or Medicine'
    # drop null gender entries (they are all institutions/organizations)
    df = df[df.gender.notnull()] # remove genderless entries
    return df

df = clean_data(df)

## Dealing with Times and Dates

In [31]:
df.loc[:20, ['name', 'date_of_birth']]

                            name      date_of_birth
0               George de Hevesy      1 August 1885
1           Albert Szent-Györgyi  16 September 1893
2                     Kofi Annan       8 April 1938
3                Odysseas Elytis    2 November 1911
4                Giorgos Seferis      13 March 1900
5               Rigoberta Menchú     9 January 1959
6        Richard Adolf Zsigmondy       1 April 1865
7                  Róbert Bárány      22 April 1876
10                   Fritz Haber    9 December 1868
11  Max Karl Ernst Ludwig Planck      23 April 1858
12           Richard Willstätter     13 August 1872
13                  Max von Laue     9 October 1879
14             Gerhart Hauptmann   15 November 1862
15                  Wilhelm Wien    13 January 1864
16                  Otto Wallach      27 March 1847
17               Albrecht Kossel  16 September 1853
18      Paul Johann Ludwig Heyse      15 March 1830
19          Karl Ferdinand Braun        6 June 1850

In [32]:
pd.to_datetime(df.date_of_birth, errors='raise') # no errors
pd.to_datetime(df.date_of_death, errors='raise')

0      1966-07-05
1      1986-10-22
2             NaT
3      1996-03-18
4      1971-09-20
5             NaT
6      1929-09-23
7      1936-04-08
10     1934-01-29
11     1947-10-04
12     1942-08-03
13     1960-04-24
14     1946-06-06
15     1928-08-30
16     1931-02-26
17     1927-07-05
18     1914-04-02
19     1918-04-20
21     1938-05-04
22     1941-09-09
23     1976-02-01
24     1970-08-01
25     1940-04-26
26     1949-03-30
27     1945-03-31
28     1955-08-12
30     1959-06-09
31     1941-03-04
32     1957-08-05
33     1929-10-03
          ...
1023   1992-04-08
1024   1968-06-14
1026   1979-05-02
1029   1995-11-04
1030   2016-09-28
1031   2013-08-30
1032   1988-01-15
1033   1989-12-22
1034   1995-06-25
1036   1997-09-05
1038   1970-11-21
1039   1941-08-07
1042          NaT
1043          NaT
1044          NaT
1045          NaT
1046          NaT
1047          NaT
1048          NaT
1049          NaT
1050          NaT
1051          NaT
1052          NaT
1053          NaT
1054   1998-02-08
1055          NaT
1057          NaT
1059   1974-06-09
1062   2016-03-31
1064   2000-08-09
Name: date_of_death, Length: 874, dtype: datetime64[ns]

In [36]:
# if there was an error raised, this is one way to know which row caused it:
for i, row in df.iterrows():
    try:
        pd.to_datetime(row.date_of_death, errors='raise')
    except:
        print('{}({}, {})'.format(row.date_of_death.ljust(30), row['name'], i))

#
with_death_dates = df[df.date_of_death.notnull()]
bad_dates = pd.isnull(pd.to_datetime(with_death_dates.date_of_death, errors='coerce'))
with_death_dates[bad_dates][['category', 'date_of_death', 'name']]

Empty DataFrame
Columns: [category, date_of_death, name]
Index: []

___
# FINAL
# COPY OF GETTING THE DIRTY DATA:

In [69]:
import numpy as np
import pandas as pd

from pymongo import MongoClient

def get_mongo_database(db_name, host='localhost', port=27017, username=None, password=None):
    '''Get (or create) named database from MongoDB with/out authentication'''
    if username and password:
        mongo_uri = 'mongodb://{}:{}@{}/{}'.format(username, password, host, db_name)
        conn = MongoClient(mongo_uri)
    else:
        conn = MongoClient(host, port)
    return conn[db_name]

def mongo_to_dataframe(db_name, collection_name, query={}, host='localhost',
                       port=27017, username=None, password=None, no_id=True):
    '''Create a Pandas DataFrame from MongoDB collection'''
    db = get_mongo_database(db_name, host, port, username, password)
    cursor = db[collection_name].find(query)
    df = pd.DataFrame(list(cursor))
    if no_id:
        del df['_id']
    return df

def dataframe_to_mongo(dframe, db_name, collection_name, host='localhost',
                 port=27017, username=None, password=None):
    '''save a dataframe to mongodb collection'''
    db = get_mongo_database(db_name, host, port, username, password)
    records = df.to_dict('records')  # 'records' puts it into our list-of-dicts format
    db[collection_name].insert_many(records)


DB_NOBEL_PRIZE = 'nobel_prize' # use string constants or a spell error in retrieval will create new table.
COLL_WINNERS = 'winners' # winners collection

#----------------------------
# From json file.
#----------------------------

with open('data/nwinners.json') as f:
    df = pd.read_json(f)

# Make sure mongodb is clear (so we don't duplicate data), then
# save to Mongo for next section
db = get_mongo_database(DB_NOBEL_PRIZE)
db[COLL_WINNERS].delete_many({})  # deletes everything (no filter)
dataframe_to_mongo(df, DB_NOBEL_PRIZE, COLL_WINNERS) # save to Mongo for next section

#----------------------------
# From mongodb collection
#----------------------------

df = mongo_to_dataframe(DB_NOBEL_PRIZE, COLL_WINNERS)
df.count()

born_in           1069
category          1069
country           1069
date_of_birth     1060
date_of_death      712
gender            1060
link              1069
name              1069
place_of_birth    1060
place_of_death     712
text              1069
year              1069
dtype: int64

# The final clean_data() function

In [70]:
def clean_data(df):
    df = df.replace('', np.nan)
    df_born_in = df[df.born_in.notnull()]
    df = df[df.born_in.isnull()] # eliminates the rows with 'born_in' values
    df = df.drop('born_in', axis=1) # don't need this column anymore
    df.drop(df[df.year==1809].index, inplace=True)
    df = df[~(df['name']=='Marie Curie')]
    df.loc[(df.name == u'Marie Sk\u0142odowska-Curie') &\
      (df.year == 1911), 'country'] = 'France'
    df = df[~((df.name=='Sidney Altman') & (df.year==1990))] # selects all rows 'not' (~) Sidney Altma 1990
    # drop duplicate awards where the recipient had 2 countries.  Randomize which
    # country is dropped by first randomizing the index
    df = df.reindex(np.random.permutation(df.index))
    df = df.drop_duplicates(['name', 'year']) # if duplicate on these 2 fields, drop after 1st entry
    df = df.sort_index() #restores the index so no longer random
    # the missing categories are mostly people whose category name wasn't in standard format
    # fix that:
    df.loc[df.name=='Alexis Carrel', 'category'] = 'Physiology or Medicine'
    df.loc[df.name=='Ilya Ilyich Mechnikov', 'category'] = 'Physiology or Medicine'
    df.loc[df.name=='Amartya Sen', 'category'] = 'Economics'
    df.drop(df.loc[df.name.str.startswith('Leopold Ru') & (df.year != 1939)].index, inplace=True)
    df.loc[df.name.str.startswith(u'R\xf3bert B\xe1r\xe1ny'), 'category'] = 'Physiology or Medicine'
    # drop null gender entries (they are all institutions/organizations)
    df = df[df.gender.notnull()] # remove genderless entries
    df.date_of_birth = pd.to_datetime(df.date_of_birth)
    df.date_of_death = pd.to_datetime(df.date_of_death, errors='coerce')
    df['award_age'] = df.year - pd.DatetimeIndex(df.date_of_birth).year
    return df, df_born_in

df_clean, df_born_in = clean_data(df)

df_clean.count()

category          874
country           874
date_of_birth     874
date_of_death     592
gender            874
link              874
name              874
place_of_birth    874
place_of_death    592
text              874
year              874
award_age         874
dtype: int64

# Save the data

In [71]:
db = get_mongo_database(DB_NOBEL_PRIZE)
db[COLL_WINNERS].delete_many({})  # deletes everything (no filter) to make sure we're starting fresh
db['winners_born_in'].delete_many({})  # deletes everything (no filter) to make sure we're starting fresh
dataframe_to_mongo(df_clean, DB_NOBEL_PRIZE, COLL_WINNERS) # save to Mongo for next section
dataframe_to_mongo(df_born_in, DB_NOBEL_PRIZE, 'winners_born_in')

# also save a local copy on sqlite
import sqlalchemy

engine = sqlalchemy.create_engine('sqlite:///data/nobel_prize.db')
df_clean.to_sql('winners', engine)

# Merge MiniBio Dataframe

In [72]:
with open('data/minibios.json') as f:
    df_winners_bios = pd.read_json(f)
    
df_winners_all = pd.merge(df_clean, df_winners_bios, how='outer', on='link')
df_winners_all.count()

category          1029
country           1029
date_of_birth     1029
date_of_death      691
gender            1029
link              1081
name              1029
place_of_birth    1029
place_of_death     691
text              1029
year              1029
award_age         1029
bio_image         1020
image_urls        1081
mini_bio          1081
dtype: int64

In [73]:
# remove redundancies
# remove duplicates of any rows that share a 'link' and 'year' field after removing
# any rows without a name field
df_winners_all = df_winners_all[~df_winners_all.name.isnull()].drop_duplicates(subset=['link', 'year'])
df_winners_all.count()

category          873
country           873
date_of_birth     873
date_of_death     592
gender            873
link              873
name              873
place_of_birth    873
place_of_death    592
text              873
year              873
award_age         873
bio_image         824
image_urls        873
mini_bio          873
dtype: int64

In [74]:
dataframe_to_mongo(df_winners_all, DB_NOBEL_PRIZE, 'winners_all')