# Cleaning Data with Pandas
## Reading the data

In [48]:
import numpy as np
import pandas as pd

from pymongo import MongoClient

def get_mongo_database(db_name, host='localhost', port=27017, username=None, password=None):
    '''Get (or create) named database from MongoDB with/out authentication'''
    if username and password:
        mongo_uri = 'mongodb://{}:{}@{}/{}'.format(username, password, host, db_name)
        conn = MongoClient(mongo_uri)
    else:
        conn = MongoClient(host, port)
    return conn[db_name]

def mongo_to_dataframe(db_name, collection_name, query={}, host='localhost',
                       port=27017, username=None, password=None, no_id=True):
    '''Create a Pandas DataFrame from MongoDB collection'''
    db = get_mongo_database(db_name, host, port, username, password)
    cursor = db[collection_name].find(query)
    df = pd.DataFrame(list(cursor))
    if no_id:
        del df['_id']
    return df

def save_to_mongo(dframe, db_name, collection_name, host='localhost',
                 port=27017, username=None, password=None):
    db = get_mongo_database(db_name, host, port, username, password)
    records = df.to_dict('records')  # 'records' puts it into our list-of-dicts format
    db[collection_name].insert_many(records)


DB_NOBEL_PRIZE = 'nobel_prize' # use string constants or a spell error in retrieval will create new table.
COLL_WINNERS = 'winners' # winners collection

#----------------------------
# From json file.
#----------------------------

with open('data/nwinners.json') as f:
    df = pd.read_json(f)

# Make sure mongodb is clear (so we don't duplicate data), then
# save to Mongo for next section
db = get_mongo_database(DB_NOBEL_PRIZE)
db[COLL_WINNERS].delete_many({})  # deletes everything (no filter)
save_to_mongo(df, DB_NOBEL_PRIZE, COLL_WINNERS) # save to Mongo for next section

#----------------------------
# From mongodb collection
#----------------------------

df = mongo_to_dataframe(DB_NOBEL_PRIZE, COLL_WINNERS)

## Inspecting the data

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1069 entries, 0 to 1068
Data columns (total 11 columns):
born_in           1069 non-null object
category          1069 non-null object
country           1069 non-null object
date_of_birth     1060 non-null object
gender            1060 non-null object
link              1069 non-null object
name              1069 non-null object
place_of_birth    1060 non-null object
place_of_death    712 non-null object
text              1069 non-null object
year              1069 non-null int64
dtypes: int64(1), object(10)
memory usage: 91.9+ KB

In [50]:
df.describe() # only acts on numeric columns
df.describe(include=['object']) # include specifies other types to include (besides numeric)

,born_in,category,country,date_of_birth,gender,link,name,place_of_birth,place_of_death,text
count,1069,1069,1069,1060,1060,1069,1069,1060,712,1069
unique,33,7,59,868,2,912,1002,607,316,1057
top,,Physiology or Medicine,United States,7 November 1867,male,http://en.wikipedia.org/wiki/Marie_Curie,César Milstein,New York City,Cambridge,"Luis Federico Leloir , Chemistry, 1970"
freq,938,256,352,4,1003,4,3,44,37,2

In [51]:
df.tail()
df.head(3)

,born_in,category,country,date_of_birth,gender,link,name,place_of_birth,place_of_death,text,year
0,,Physics,Ireland,6 October 1903,male,http://en.wikipedia.org/wiki/Ernest_Walton,Ernest Walton,Dungarvan,Belfast,"Ernest Walton , Physics, 1951",1951
1,,Chemistry,Germany,10 October 1936,male,http://en.wikipedia.org/wiki/Gerhard_Ertl,Gerhard Ertl,Stuttgart,NaN,"Gerhard Ertl , Chemistry, 2007",2007
2,,Physics,Germany,18 May 1939,male,http://en.wikipedia.org/wiki/Peter_Gr%C3%BCnberg,Peter Grünberg,Plzeň,NaN,"Peter Grünberg , born in then Protectorate of...",2007

## Set indices (optional, but useful)

In [56]:
print(df.columns) # the column index
df = df.set_index('name') # row index (note we need to assign to df)
df.loc['Albert Einstein'] # loc accesses by label index

Index([          u'name',        u'born_in',       u'category',
              u'country',  u'date_of_birth',         u'gender',
                 u'link', u'place_of_birth', u'place_of_death',
                 u'text',           u'year'],
      dtype='object')

,born_in,category,country,date_of_birth,gender,link,place_of_birth,place_of_death,text,year
name,,,,,,,,,,
Albert Einstein,,Physics,Germany,14 March 1879,male,http://en.wikipedia.org/wiki/Albert_Einstein,Ulm,Princeton,"Albert Einstein , Physics, 1921",1921
Albert Einstein,,Physics,Switzerland,14 March 1879,male,http://en.wikipedia.org/wiki/Albert_Einstein,Ulm,Princeton,"Albert Einstein , born in Germany , Physics, ...",1921

In [57]:
df.reset_index(inplace=True) # go back to default int index.  Note the 'inplace'
df.iloc[2] # iloc accesses by integer index
df.head(2)

,name,born_in,category,country,date_of_birth,gender,link,place_of_birth,place_of_death,text,year
0,Ernest Walton,,Physics,Ireland,6 October 1903,male,http://en.wikipedia.org/wiki/Ernest_Walton,Dungarvan,Belfast,"Ernest Walton , Physics, 1951",1951
1,Gerhard Ertl,,Chemistry,Germany,10 October 1936,male,http://en.wikipedia.org/wiki/Gerhard_Ertl,Stuttgart,NaN,"Gerhard Ertl , Chemistry, 2007",2007

In [58]:
bornin_col = df.born_in # or df['born_in']
bornin_col

0
1
2
3
4
5
6
7         India
8
9         India
10
11        India
12
13
14
15
16
17
18
19
20
21
22
23      Germany
24
25
26
27
28
29
         ...
1039
1040
1041
1042
1043
1044
1045
1046    Ireland
1047
1048
1049
1050    Germany
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061    Hungary
1062
1063
1064
1065
1066
1067
1068
Name: born_in, Length: 1069, dtype: object

In [72]:
df[0:10] #first 10 rows
df[-4:]  #last 4 rows

# masks
mask = df.year > 2000
df[mask]
df[df.year>2000] # more direct

,name,born_in,category,country,date_of_birth,gender,link,place_of_birth,place_of_death,text,year
1,Gerhard Ertl,,Chemistry,Germany,10 October 1936,male,http://en.wikipedia.org/wiki/Gerhard_Ertl,Stuttgart,NaN,"Gerhard Ertl , Chemistry, 2007",2007
2,Peter Grünberg,,Physics,Germany,18 May 1939,male,http://en.wikipedia.org/wiki/Peter_Gr%C3%BCnberg,Plzeň,NaN,"Peter Grünberg , born in then Protectorate of...",2007
7,Venkatraman Ramakrishnan *,India,Chemistry,,1952,male,http://en.wikipedia.org/wiki/Venkatraman_Ramak...,Chidambaram,NaN,"Venkatraman Ramakrishnan *, as a UK Citizen ,...",2009
10,Kailash Satyarthi,,Peace,India,11 January 1954,male,http://en.wikipedia.org/wiki/Kailash_Satyarthi,Vidisha,NaN,"Kailash Satyarthi , Peace, 2014",2014
12,Kofi Annan,,Peace,Ghana,8 April 1938,male,http://en.wikipedia.org/wiki/Kofi_Annan,Kumasi,NaN,"Kofi Annan , Peace, 2001",2001
17,Imre Kertész,,Literature,Hungary,9 November 1929,male,http://en.wikipedia.org/wiki/Imre_Kert%C3%A9sz,Budapest,Budapest,"Imre Kertész , Literature, 2002",2002
92,Martin Karplus *,Austria,Chemistry,,15 March 1930,male,http://en.wikipedia.org/wiki/Martin_Karplus,Vienna,NaN,"Martin Karplus *, Chemistry, 2013",2013
93,International Atomic Energy Agency,,Peace,Austria,NaN,NaN,http://en.wikipedia.org/wiki/International_Ato...,NaN,NaN,"International Atomic Energy Agency , Peace, 2005",2005
94,Elfriede Jelinek,,Literature,Austria,20 October 1946,female,http://en.wikipedia.org/wiki/Elfriede_Jelinek,Mürzzuschlag,NaN,"Elfriede Jelinek , Literature, 2004",2004
174,Yves Chauvin,,Chemistry,France,10 October 1930,male,http://en.wikipedia.org/wiki/Yves_Chauvin,Menen,Tours,"Yves Chauvin , Chemistry, 2005",2005
176,Jules A. Hoffmann,,Physiology or Medicine,France,2 August 1941,male,http://en.wikipedia.org/wiki/Jules_A._Hoffmann,Echternach,NaN,"Jules A. Hoffmann , born in Luxembourg , Phys...",2011
180,Mohamed ElBaradei,,Peace,Egypt,17 June 1942,male,http://en.wikipedia.org/wiki/Mohamed_ElBaradei,Cairo,NaN,"Mohamed ElBaradei , Peace, 2005",2005
188,Bengt R. Holmström,,Economics,Finland,18 April 1949,male,http://en.wikipedia.org/wiki/Bengt_R._Holmstr%...,Helsinki,NaN,"Bengt R. Holmström , Economics, 2016",2016
189,Martti Ahtisaari,,Peace,Finland,23 June 1937,male,http://en.wikipedia.org/wiki/Martti_Ahtisaari,Vyborg,NaN,"Martti Ahtisaari , Peace, 2008",2008
194,Jean-Pierre Sauvage,,Chemistry,France,21 October 1944,male,http://en.wikipedia.org/wiki/Jean-Pierre_Sauvage,Paris,NaN,"Jean-Pierre Sauvage , Chemistry, 2016",2016
195,Jean Tirole,,Economics,France,9 August 1953,male,http://en.wikipedia.org/wiki/Jean_Tirole,Troyes,NaN,"Jean Tirole , Economics, 2014",2014
196,Patrick Modiano,,Literature,France,30 July 1945,male,http://en.wikipedia.org/wiki/Patrick_Modiano,Boulogne-Billancourt,NaN,"Patrick Modiano , Literature, 2014",2014
199,Serge Haroche,,Physics,France,11 September 1944,male,http://en.wikipedia.org/wiki/Serge_Haroche,Casablanca,NaN,"Serge Haroche , born in Morocco, then under F...",2012
200,J. M. G. Le Clézio,,Literature,France,13 April 1940,male,http://en.wikipedia.org/wiki/J._M._G._Le_Cl%C3...,Nice,NaN,"J. M. G. Le Clézio , Literature, 2008",2008
203,Luc Montagnier,,Physiology or Medicine,France,18 August 1932,male,http://en.wikipedia.org/wiki/Luc_Montagnier,Chabris,NaN,"Luc Montagnier , Physiology or Medicine, 2008",2008
204,Françoise Barré-Sinoussi,,Physiology or Medicine,France,30 July 1947,female,http://en.wikipedia.org/wiki/Fran%C3%A7oise_Ba...,Paris,NaN,"Françoise Barré-Sinoussi , Physiology or Medic...",2008
206,Albert Fert,,Physics,France,7 March 1938,male,http://en.wikipedia.org/wiki/Albert_Fert,Carcassonne,NaN,"Albert Fert , Physics, 2007",2007
211,Tu Youyou,,Physiology or Medicine,China,30 December 1930,female,http://en.wikipedia.org/wiki/Tu_Youyou,Ningbo,NaN,"Tu Youyou , Physiology or Medicine, 2015",2015
213,Mo Yan,,Literature,China,17 February 1955,male,http://en.wikipedia.org/wiki/Mo_Yan,Gaomi,NaN,"Mo Yan , Literature, 2012",2012
214,Liu Xiaobo,,Peace,China,28 December 1955,male,http://en.wikipedia.org/wiki/Liu_Xiaobo,Changchun,Shenyang,"Liu Xiaobo , Peace, 2010",2010
216,Juan Manuel Santos,,Peace,Colombia,10 August 1951,male,http://en.wikipedia.org/wiki/Juan_Manuel_Santos,Bogota,NaN,"Juan Manuel Santos , Peace, 2016",2016
225,Ralph M. Steinman,,Physiology or Medicine,Canada,14 January 1943,male,http://en.wikipedia.org/wiki/Ralph_M._Steinman,Montreal,Manhattan,"Ralph M. Steinman , Physiology or Medicine, 2011",2011
226,Willard Boyle *,Canada,Physics,,19 August 1924,male,http://en.wikipedia.org/wiki/Willard_Boyle,Amherst,"Wallace, Nova Scotia","Willard Boyle *, Physics, 2009",2009
227,Jack W. Szostak,,Physiology or Medicine,Canada,9 November 1952,male,http://en.wikipedia.org/wiki/Jack_W._Szostak,London,NaN,"Jack W. Szostak , born in the United Kingdom ...",2009
263,Arthur B. McDonald,,Physics,Canada,29 August 1943,male,http://en.wikipedia.org/wiki/Arthur_B._McDonald,Sydney,NaN,"Arthur B. McDonald , Physics, 2015",2015
...,...,...,...,...,...,...,...,...,...,...,...
978,Akira Suzuki,,Chemistry,Japan,12 September 1930,male,http://en.wikipedia.org/wiki/Akira_Suzuki_(che...,Hokkaidō,NaN,"Akira Suzuki , Chemistry, 2010",2010
979,Toshihide Maskawa,,Physics,Japan,17 February 1940,male,http://en.wikipedia.org/wiki/Toshihide_Maskawa,Nagoya,NaN,"Toshihide Maskawa , Physics, 2008",2008
980,Makoto Kobayashi,,Physics,Japan,7 April 1944,male,http://en.wikipedia.org/wiki/Makoto_Kobayashi_...,Nagoya,NaN,"Makoto Kobayashi , Physics, 2008",2008
983,Koichi Tanaka,,Chemistry,Japan,3 August 1959,male,http://en.wikipedia.org/wiki/Koichi_Tanaka,Toyama,NaN,"Koichi Tanaka , Chemistry, 2002",2002
984,Masatoshi Koshiba,,Physics,Japan,19 September 1926,male,http://en.wikipedia.org/wiki/Masatoshi_Koshiba,Toyohashi,NaN,"Masatoshi Koshiba , Physics, 2002",2002
986,Ryōji Noyori,,Chemistry,Japan,3 September 1938,male,http://en.wikipedia.org/wiki/Ry%C5%8Dji_Noyori,Kōbe,NaN,"Ryōji Noyori , Chemistry, 2001",2001
992,Riccardo Giacconi *,Italy,Physics,,6 October 1931,male,http://en.wikipedia.org/wiki/Riccardo_Giacconi,Genoa,NaN,"Riccardo Giacconi *, Physics, 2002",2002
993,Mario Capecchi *,Italy,Physiology or Medicine,,6 October 1937,male,http://en.wikipedia.org/wiki/Mario_Capecchi,Verona,NaN,"Mario Capecchi *, Physiology or Medicine, 2007",2007
1001,Wangari Maathai,,Peace,Kenya,1 April 1940,female,http://en.wikipedia.org/wiki/Wangari_Maathai,Tetu,Nairobi,"Wangari Maathai , Peace, 2004",2004
1003,Ellen Johnson Sirleaf,,Peace,Liberia,29 October 1938,female,http://en.wikipedia.org/wiki/Ellen_Johnson_Sir...,Monrovia,NaN,"Ellen Johnson Sirleaf , Peace, 2011",2011
1005,Arieh Warshel,,Chemistry,Israel,20 November 1940,male,http://en.wikipedia.org/wiki/Arieh_Warshel,Sde Nahum,NaN,"Arieh Warshel , Chemistry, 2013",2013
1006,Michael Levitt,,Chemistry,Israel,9 May 1947,male,http://en.wikipedia.org/wiki/Michael_Levitt,Pretoria,NaN,"Michael Levitt , born in South Africa , Chemi...",2013
1007,Jules A. Hoffmann *,Luxembourg,Physiology or Medicine,,2 August 1941,male,http://en.wikipedia.org/wiki/Jules_A._Hoffmann,Echternach,NaN,"Jules A. Hoffmann *, Physiology or Medicine, 2011",2011
1009,Robert Aumann,,Economics,Israel,8 June 1930,male,http://en.wikipedia.org/wiki/Robert_Aumann,Frankfurt,NaN,"Robert Aumann , born in Germany , Economics, ...",2005
1012,Daniel Kahneman,,Economics,Israel,5 March 1934,male,http://en.wikipedia.org/wiki/Daniel_Kahneman,Tel Aviv,NaN,"Daniel Kahneman , Economics, 2002",2002
1019,Yoshinori Ohsumi,,Physiology or Medicine,Japan,9 February 1945,male,http://en.wikipedia.org/wiki/Yoshinori_Ohsumi,Fukuoka,NaN,"Yoshinori Ohsumi , Physiology or Medicine, 2016",2016
1020,Takaaki Kajita,,Physics,Japan,9 March 1959,male,http://en.wikipedia.org/wiki/Takaaki_Kajita,Higashimatsuyama,NaN,"Takaaki Kajita , Physics, 2015",2015
1021,Satoshi Ōmura,,Physiology or Medicine,Japan,12 July 1935,male,http://en.wikipedia.org/wiki/Satoshi_%C5%8Cmura,Nirasaki,NaN,"Satoshi Ōmura , Physiology or Medicine, 2015",2015
1031,Stefan Hell,,Chemistry,Germany,23 December 1962,male,http://en.wikipedia.org/wiki/Stefan_Hell,Arad,NaN,"Stefan Hell , born in Romania , Chemistry, 2014",2014
1032,Thomas C. Südhof,,Physiology or Medicine,Germany,22 December 1955,male,http://en.wikipedia.org/wiki/Thomas_C._S%C3%BC...,Göttingen,NaN,"Thomas C. Südhof , Physiology or Medicine, 2013",2013
1033,Herta Müller,,Literature,Germany,17 August 1953,female,http://en.wikipedia.org/wiki/Herta_M%C3%BCller,Nițchidorf,NaN,"Herta Müller , born in Romania , Literature, ...",2009
1034,Dan Shechtman,,Chemistry,Israel,24 January 1941,male,http://en.wikipedia.org/wiki/Dan_Shechtman,Tel Aviv,NaN,"Dan Shechtman , Chemistry, 2011",2011
1035,Ada Yonath,,Chemistry,Israel,22 June 1939,female,http://en.wikipedia.org/wiki/Ada_Yonath,Jerusalem,NaN,"Ada Yonath , Chemistry, 2009",2009
1036,Aaron Ciechanover,,Chemistry,Israel,1 October 1947,male,http://en.wikipedia.org/wiki/Aaron_Ciechanover,Haifa,NaN,"Aaron Ciechanover , Chemistry, 2004",2004
1039,Avram Hershko,,Chemistry,Israel,31 December 1937,male,http://en.wikipedia.org/wiki/Avram_Hershko,Karcag,NaN,"Avram Hershko , born in Hungary , Chemistry, ...",2004
1040,William C. Campbell,,Physiology or Medicine,Ireland,28 June 1930,male,http://en.wikipedia.org/wiki/William_C._Campbe...,Ramelton,NaN,"William C. Campbell , Physiology or Medicine, ...",2015
1054,Harald zur Hausen,,Physiology or Medicine,Germany,11 March 1936,male,http://en.wikipedia.org/wiki/Harald_zur_Hausen,Gelsenkirchen,NaN,"Harald zur Hausen , Physiology or Medicine, 2008",2008
1057,Shirin Ebadi,,Peace,Iran,21 June 1947,female,http://en.wikipedia.org/wiki/Shirin_Ebadi,Hamadan,NaN,"Shirin Ebadi , Peace, 2003",2003
1060,Charles K. Kao,,Physics,Hong Kong,4 November 1933,male,http://en.wikipedia.org/wiki/Charles_K._Kao,Shanghai,NaN,"Charles K. Kao , Physics, 2009",2009
1061,Avram Hershko *,Hungary,Chemistry,,31 December 1937,male,http://en.wikipedia.org/wiki/Avram_Hershko,Karcag,NaN,"Avram Hershko *, as an Israeli citizen , Ch...",2004

## Cleaning the Data

In [73]:
set(df.born_in.apply(type))

{unicode}

In [75]:
# replace empty string with NaN
bornin_col.replace('', np.nan, inplace=True)
bornin_col

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
5           NaN
6           NaN
7         India
8           NaN
9         India
10          NaN
11        India
12          NaN
13          NaN
14          NaN
15          NaN
16          NaN
17          NaN
18          NaN
19          NaN
20          NaN
21          NaN
22          NaN
23      Germany
24          NaN
25          NaN
26          NaN
27          NaN
28          NaN
29          NaN
         ...
1039        NaN
1040        NaN
1041        NaN
1042        NaN
1043        NaN
1044        NaN
1045        NaN
1046    Ireland
1047        NaN
1048        NaN
1049        NaN
1050    Germany
1051        NaN
1052        NaN
1053        NaN
1054        NaN
1055        NaN
1056        NaN
1057        NaN
1058        NaN
1059        NaN
1060        NaN
1061    Hungary
1062        NaN
1063        NaN
1064        NaN
1065        NaN
1066        NaN
1067        NaN
1068        NaN
Name: born_in, Length: 1069, dtype: object

In [76]:
# How many names with asterisk?
df[df.name.str.contains('\*')]['name']

7          Venkatraman Ramakrishnan *
9        Subrahmanyan Chandrasekhar *
11               Har Gobind Khorana *
23                       Otto Loewi *
31           Hans von Euler-Chelpin *
55                     John Polanyi *
59              Georges J.F. Köhler *
61                     Arno Penzias *
62                  Henry Kissinger *
68                     Bernard Katz *
69                     Max Delbrück *
70              Hans Albrecht Bethe *
71                      Nelly Sachs *
73                     Konrad Bloch *
75             Maria Goeppert-Mayer *
79                   Polykarp Kusch *
80                         Max Born *
83             Fritz Albert Lipmann *
84                 Hans Adolf Krebs *
85                       Otto Stern *
88                 Jack Steinberger *
90                   John Cornforth *
92                   Martin Karplus *
95                      Eric Kandel *
96                      Walter Kohn *
105                Gerhard Herzberg *
117                 Roger Guillemin *
118                   Seán MacBride *
120            Luis Federico Leloir *
146                   Alfred Werner *
                    ...
912                     Elie Wiesel *
913                George E. Palade *
916                     Stefan Hell *
918                    Shimon Peres *
925      Carlos Filipe Ximenes Belo *
927                José Ramos-Horta *
930                    Herta Müller *
945            Nicolaas Bloembergen *
955              Mario Vargas Llosa *
957                  Shuji Nakamura *
964              Nikolaas Tinbergen *
965                  Yoichiro Nambu *
981                      Aaron Klug *
982                  Czesław Miłosz *
985     Mario José Molina Henríquez *
992               Riccardo Giacconi *
993                  Mario Capecchi *
999                    Herman Hesse *
1000              Ernst Boris Chain *
1004                   Bernard Lown *
1007              Jules A. Hoffmann *
1008               Gabriel Lippmann *
1017              Albert Schweitzer *
1026                 Salvador Luria *
1027                Renato Dulbecco *
1037                Rudyard Kipling *
1038                    Ronald Ross *
1046            George Bernard Shaw *
1050                Hans G. Dehmelt *
1061                  Avram Hershko *
Name: name, Length: 131, dtype: object

In [78]:
df.name = df.name.str.replace('*', '')
df[df.name.str.contains('\*')]['name']

Series([], Name: name, dtype: object)